@font-face {
    font-family: "Medio";
    src:url("../font/medio.otf") format("opentype");
}

@font-face {
    font-family: "Trajan";
    src:url("../font/TrajanPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Ryumin";
    src:url("../font/A-OTF-RyuminPr5-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Matisse";
    src:url("../font/FOT-MatisseElegantoPro-M.otf") format("opentype");
}

@font-face {
    font-family: "Futura";
    src: url('../font/futura_medium_bt.ttf') format('truetype');
}

@media screen and (min-width: 501px) {
    #registration_sp {
        display: none;
    }
    
}

@media screen and (max-width: 500px) {
    #registration_pc {
        display: none;
    }
    
}

.test {
    
}

#registration_pc {
    overflow-x: hidden;
    overflow-y: hidden;
}

#registration_sp {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: ten-mincho, serif;
    background: #F1EBDC 0% 0% no-repeat padding-box;

}

header {
    background: #F8F1EA 0% 0% no-repeat padding-box;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.header_menu {
    width: 520px;
    display: flex;
    justify-content: space-between;
}
.header_a {
    font: normal normal normal 16px/18px Arial;
    letter-spacing: 0px;
    color: #242423;
    padding-top: 20px;
}

.header_margin {
    margin-top:90px;
}
.header_logo_img {
    display: block;
    position: relative;
    width:100px;
}
.header_btn {
    width: 20px;
}
.header_logo {
    margin: auto;
    position: relative;
    margin-left: 0px;
}
.header_logo_sp {
    margin: auto;
}
.header_input {
    width: 350px;
    font: normal normal normal 12px/17px Source Han Sans JP;
    border-radius: 18px;
    border: 1px solid #707070;
    height: 30px;
    padding-left: 20px;
    margin-top: 15px;
}
.header_input::placeholder {
    color: #CACACA;
}


.top_bg1 {
    background-image: url(../img/top_bg1.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 49vw;
}
.top1_text {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font: normal normal normal 34px/50px Ten Mincho;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 1px 2px 3px #000000;
    margin: auto;
    padding-top: 150px;
}
.top1_contact {
    display: block;
    margin-bottom: 10px;
}
.fix_line {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    z-index: 9000;
}

.contact_div {
    width:700px;
    margin: 5px auto 20px;
}
.contact_name {
    font: normal normal normal 16px/25px Ten Mincho;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 5px;
}
.contact_text {
    border: none;
    height: 40px;
    width: 100%;
    padding: 10px;
}
.contact_textarea {
    border: none;
    height: 200px;
    width: 100%;
    padding: 10px;

}
.send_btn, .send_btn:hover {
    background: #000000 0% 0% no-repeat padding-box;
    padding:20px;
    width:250px;
    text-align: center;
    font: normal normal normal 30px/25px Ten Mincho;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    margin: auto;
    text-decoration: none;
}


footer {
    background: #F2E1E4 0% 0% no-repeat padding-box;
    letter-spacing: 0px;
    padding: 50px 150px 20px;
    width:100%;
    height: 650px;
    background-size: cover;
}
.footer_title {
    font: normal normal normal 30px/35px Ten Mincho;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
}
.footer_title2 {
    font: normal normal normal 20px/35px Ten Mincho;
    letter-spacing: 0px;
    color: #000;
    margin: 0 auto 20px;
    width: 350px;
}
.footer_text1 {
    font: normal normal normal 16px/20px Ten Mincho;
    letter-spacing: 0px;
    color: #000;
    margin: 0 auto 20px;
    width: 350px;
}
.footer_logo {
    width: 8vw;
    margin: 30px auto;
    display: block;
}
.copyright {
    text-align: center;
    font: normal normal normal 14px/31px Kozuka Gothic Pr6N;
    color: #FFFFFF;
}

.footer_link1 {
    font: normal normal bold 1.5vw/2vw Arial;
    color: #503C3C;
    letter-spacing: 2px;
    text-shadow: 0px 1px 2px #FFFFFF;
    margin-right:50px;
    margin-bottom: 20px;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    width:100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 5px;
}
.footer_link2, .footer_link3 {
    display: block;
    font: normal normal normal 1.1vw/1.6vw Kozuka Gothic Pr6N;
    color: #503C3C;
    text-shadow: 0px 1px 2px #FFFFFF;
}
.footer_link3 {
    width:33%;
}

.footer_sns_flex {
    width: 35vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer_sns_img {
    width:10vw;
}

.footer_flex_white {
    width: 100%;
    padding:2vw 3vw;
    display: flex;
    justify-content: space-between;
}
.footer_link_white {
    display: block;
    font: normal normal normal 1.1vw/1.6vw Kozuka Gothic Pr6N;
    color: #fff;
}

.top_category_div {
    padding:8vw 10vw;
}
.top_category_title {
    display: block;
    margin: auto;
    width:20vw;
}
.top_category_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3vw 0;
}
.top_category_a {
    width:20vw;
    display: block;
}
.top_category_img {
    width:100%;
}
.top_category_dummy {
    width:8vw;
}
.view_all_btn {
    display: block;
    float: right;
    width:10vw;
}

.top_bg2 {
    background-image: url(../img/top_bg2.png);
    padding:6vw;
    width:100%;
    background-position: center;
    background-size: cover;
    height: 63vw;
}
.top2_box {
    border: 2px solid #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.trouble_img1 {
    width:40vw;
    display: block;
    position: relative;
    top:-3vw;
    left:-3vw;
    z-index: 500;
}
.top2_brown {
    background-color: rgba(45, 41, 41, 0.5);
    border-radius: 6px;
    width: 60vw;
    display: block;
    position: relative;
    height: 50vw;
    margin-top: -45vw;
    float: right;
    margin-right: -3vw;
    padding-right: 8vw;
    padding-top: 10vw;
}
.top2_a {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 6vw;
    font: normal normal normal 1.5vw/2vw Kozuka Gothic Pr6N;
    letter-spacing: 0.6vw;
    color: #FFFFFF;
}

.top_pickup_title {
    width:100%;
    display: block;
}

.top_bg3 {
    background: #F2E1E4 0% 0% no-repeat padding-box;
    padding:4vw;
}
.top3_flex {
    padding:2vw 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #338F86;
}
.top3_ex {
    width:35vw;
}
.top3_text {
    font: normal normal normal 1.5vw/1.5vw Kozuka Gothic Pro;
    color: #338F86;
    text-align: center;
    margin-top: 8vw;
}
.detail_btn {
    margin:2vw auto;
    width:20vw;
    display: block;
}
.top3_list {
    width:50vw;
    display: flex;
    justify-content: space-between;
}
.top3_item_a {
    display: block;
    width:16vw;
    background-color: #fff;
    font: normal normal normal 1.2vw/1.5vw Arial;
    padding-bottom: 3vw;
}
.top3_item_a:hover {
    text-decoration: none;
}
.top3_item_img {
    width: 100%;
    display: block;
}
.top3_item_name {
    padding-left: 1vw;
    margin:10px 0;
    color: #000000;
}
.top_ranking_title {
    display: block;
    margin:8vw auto 2vw;
    width:18vw;
}
.top_ranking_a {
    font: normal normal normal 1.5vw/1.8vw Kozuka Gothic Pr6N;
    letter-spacing: 1.6px;
    color: #3169AA;
    display: block;
    text-align: center;
}
.top_rank3 {
    display: flex;
    justify-content: space-between;
    width: 52vw;
    margin: 5vw auto;
}
.top_rank_other {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 2vw auto 10vw;
}
.top_rank_other_a {
    display: block;
    width:14vw;
    background-color: #fff;
    font: normal normal normal 1.2vw/1.5vw Arial;
    padding-bottom: 2vw;
}
.rank_img {
    position: relative;
    top: -1.5vw;
    left: -1.5vw;
    width: 3vw;
}
.ranking_item_img {
    width: 100%;
    display: block;
    margin-top: -3vw;
}

.top_news_bg {
    background-image: url(../img/top_news_bg.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 45vw;
    padding-top: 5vw;
}
.top_news_title {
    font: normal normal normal 2.5vw/2.5vw Arial;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-align: center;
}
.top_news_a {
    display: block;
    font: normal normal normal 1.2vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 5vw;
}
.top_news_flex {
    width:75vw;
    margin: 1vw auto;
    display: flex;
    justify-content: space-between;
}
.top_news_box {
    width:22vw;
    display: flex;
    justify-content: space-between;
}
.top_news_box {
    text-decoration: none;
}
.top_news_img {
    width:8vw;
    height:8vw;
}
.top_news_content {
    width:12vw;
    padding-top: 5px;
    font: normal normal normal 1.1vw/1.3vw Kozuka Gothic Pr6N;
    color: #000000;
}
.top_news_date {
    padding-top: 1vw;
    font: normal normal normal 1.1vw/1.3vw Kozuka Gothic Pr6N;
    color: #fff;
    text-align: right;
}

.category_div {
    padding:3vw 10vw;
}
.category_title {
    font: normal normal bold 30px/29px Arial;
    letter-spacing: 3px;
    color: #3169AA;
    margin-bottom: 3vw;
}
.category_ja {
    font: normal normal normal 14px/31px Kozuka Gothic Pr6N;
}
.category_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}
.category_item_a {
    display: block;
    width: 15vw;
    background-color: #fff;
    font: normal normal normal 1.2vw/1.5vw Arial;
    padding-bottom: 3vw;
}

.trouble_title {
    font: normal normal bold 30px/29px Arial;
    letter-spacing: 3px;
    color: #3169AA;
    margin-bottom: 3vw;
    padding-left: 4vw;
}
.trouble_div {
    padding:3vw 0;
    background: transparent linear-gradient(179deg, #F8F1EA 0%, #5B21218C 100%) 0% 0% no-repeat padding-box;
}
.trouble_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
}
.trouble_list {
    width:30vw;
}
.trouble_a {
    font: normal normal normal 1.3vw/2vw Kozuka Gothic Pr6N;
    letter-spacing: 4.5px;
    color: #503C3C;
    margin:3vw 0;
    display: block;
}
.trouble_main_img {
    display: block;
    width:65vw;
}




@media screen and (max-width: 500px) {
    header {
        background-position: center;
        background-size: cover;
        height: 50px;
        padding: 10px;
    }
    .header_menu {
        display: inline;
    }
    .header_margin {
        /* margin-top: 50px; */
    }
    .sp_fixed_left {
        font: normal normal normal 15px/30px Hiragino Kaku Gothic Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
    }
    .top1_left {
        margin: 0 3%;
        position: fixed;
        bottom: 10vw;
        width: 94%;
        height: auto;
        z-index: 6000;
        display: flex;
        justify-content: space-between;
    }
    .top1_left2 {
        margin: 0 3%;
        position: fixed;
        bottom: 5vw;
        width: 94%;
        height: auto;
        z-index: 6000;
        display: flex;
        justify-content: space-between;
        font: normal normal normal 15px/30px Hiragino Kaku Gothic Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
    }
    .top1_text {
        font: normal normal normal 29px/40px Ten Mincho;
        padding-top: 50px;
    }
    .top1_right {
        font: normal normal normal 12px/16px Hiragino Kaku Gothic Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-right: 20px;
        margin-left: auto;
        position: relative;
        top: 8vw;
        width: 210px;
        height: 200px;
    }
    .top_bg1 {
        background-image: url(../img/top_bg1_sp.png);
        width: 100%;
        height: 680px;
        background-position: center;
        background-size: cover;
        text-align: center;
        font: normal normal normal 11px/20px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
        padding-top: 50px;
        min-height: 680px;
    }
    .top_bg2 {
        width: 100%;
        height: 56vw;
        background-position: center;
        background-size: cover;
        text-align: center;
        font: normal normal normal 14px/25px Ten Mincho;
        letter-spacing: 0px;
        padding-top: 50px;
        min-height: 800px;
    }
    .top2_title {
        text-align: center;
        font: normal normal normal 25px/35px Ten Mincho;
        letter-spacing: 0px;
        margin-bottom: 20px;
    }
    .top2_youtube_text {
        font: normal normal normal 15px/25px Kozuka Gothic Pr6N;
        letter-spacing: 0px;
        color: #000000;
        width: 350px;
        margin: auto;
        text-align: left;
    }
    .top2_text {
        width: 350px;
        margin: 30px auto;
        text-align: left;
    }
    .top_bg_black {
        background: #131313 0% 0% no-repeat padding-box;
        text-align: center;
        font: normal normal normal 26px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        padding: 50px 0 80px;
        top: -3px;
        position: relative;
    }

    .top_bg5 {
        background-image: url(../img/top_bg5_sp.png);
        width: 100%;
        height: 38vw;
        background-position: center;
        background-size: cover;
        min-height: 260px;
        text-align: right;
        padding-top: 10vw;
        padding-right: 6vw;
    }
    .top5_title {
        font: normal normal normal 20px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
        margin-bottom: 10px;
    }
    .top5_text {
        font: normal normal normal 14px/20px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
    }
    .top_bg_black2 {
        font: normal normal normal 30px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        padding: 50px 0;
        top: -3px;
        position: relative;
        height: 2240px;
    }
    .top_black_title {
        font: normal normal normal 20px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        text-shadow: 0px 0px 5px #FFBB00;
        text-align: center;
        margin-bottom: 30px;
    }
    .ma_img {
        width: 350px;
        margin: auto;
        display: block;
    }
    .ma_title {
        width: 150px;
        display: block;
        margin: 20px auto 10px 39%;
    }
    .ma_text {
        text-align: center;
        font: normal normal normal 14px/20px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin-bottom: 30px;
    }
    .ma_text_flex {
        display: flex;
        width: 280px;
        text-align: left;
        margin: auto;
        justify-content: space-between;
    }
    .ma_btn {
        width: 180px;
        margin-top: 10px;
    }
    .top_bg6 {
        background-image: url(../img/top_bg6_sp.png);
        width: 100%;
        height: 680px;
        background-position: right;
        background-size: cover;
        font: normal normal normal 20px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #000000;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 50px;
    }
    .top6_text1 {
        letter-spacing: 0px;
        color: #000000;
        margin-bottom: 5px;
        font: normal normal normal 13px/18px Ten Mincho;
        padding-left: 1em;
        text-indent: -1.8em;
        width: 335px;
        margin: 5px auto;
    }
    .top6_text2 {
        font: normal normal normal 13px/18px Ten Mincho;
        padding-left: 1em;
        text-indent: -1.8em;
        letter-spacing: 0px;
        color: #D11F1F;
        margin-bottom: 10px;
        width: 335px;
        margin: 10px auto;
    }
    .top6_title {
        display: block;
        margin: 10px auto;
        width: 220px;
    }
    .top7_title {
        margin: auto;
        display: block;
        width: 350px;
    }
    .top_bg7 {
        background-image: url(../img/top_bg7_sp.png);
        width: 100%;
        height: 28vw;
        background-position: center;
        background-size: cover;
        min-height: 370px;
        position: relative;
        top: -1px;
        padding-top: 70px;
    }
    .top8_box {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 8px;
        padding: 10px;
        font: normal normal normal 16px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #000000;
        width: 350px;
        margin: 20px auto;
    }
    .top8_title {
        margin: 0 auto 30px 30%;
        display: block;
        width: 200px;
    }
    .top8_age {
        margin-top: 10px;
    }
    .top_bg9 {
        padding-top: 50px;
        height: 1180px;
    }
    .contact_div {
        width: 350px;
        margin: 5px auto 20px;
    }
    .contact_text, .contact_textarea {
        border: 1px solid #707070;
    }
    .send_btn, .send_btn:hover {
        background: #000000 0% 0% no-repeat padding-box;
        padding: 10px;
        width: 350px;
        text-align: center;
        font: normal normal normal 20px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        display: block;
        margin: auto;
        text-decoration: none;
    }
    .top_bg8 {
        background-image: url(../img/top_bg8.png);
        width: 100%;
        height: 1200px;
        background-position: center;
        background-size: cover;
        position: relative;
        top: -2px;
        padding-top: 50px;
    }
    footer {
        background: #F1EBDC;
        letter-spacing: 0px;
        color: #000;
        padding-top: 50px;
        padding-bottom: 20px;
        background-image: url(../img/footer_bg_sp.png);
        width: 100%;
        height: 600px;
        background-size: auto;
    }
    .footer_title {
        font: normal normal normal 20px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin-bottom: 10px;
        text-align: center;
    }
    .footer_title2 {
        font: normal normal normal 16px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin: 0 auto 10px;
        width: 250px;
    }
    .footer_text1 {
        font: normal normal normal 14px/20px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin: 0 auto 20px;
        width: 250px;
    }
    .footer_logo {
        width: 180px;
        margin: 50px auto 20px;
        display: block;
    }
    .mail_comp {
        background-image: url(../img/top_bg8.png);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
        position: relative;
        top: -2px;
        padding-top: 80px;
        font-size: 17px;
        text-align: center;
    }
}

.g-recaptcha {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.grecaptcha-badge { visibility: hidden; }