@font-face {
    font-family: "Medio";
    src:url("../font/medio.otf") format("opentype");
}

@font-face {
    font-family: "Trajan";
    src:url("../font/TrajanPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Ryumin";
    src:url("../font/A-OTF-RyuminPr5-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Matisse";
    src:url("../font/FOT-MatisseElegantoPro-M.otf") format("opentype");
}

@font-face {
    font-family: "Futura";
    src: url('../font/futura_medium_bt.ttf') format('truetype');
}

@media screen and (min-width: 501px) {
    #registration_sp {
        display: none;
    }
    
}

@media screen and (max-width: 500px) {
    #registration_pc {
        display: none;
    }
    
}

.test {
    
}

#registration_pc {
    overflow-x: hidden;
    overflow-y: hidden;
}

#registration_sp {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Kozuka Gothic Pr6N;
    background: #F1EBDC 0% 0% no-repeat padding-box;

}

header {
    background: #F8F1EA 0% 0% no-repeat padding-box;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: flex;
    padding: 1vw 4vw;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.header_menu {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}
.header_a {
    font: normal normal normal 1.3vw/1.4vw Arial;
    letter-spacing: 0px;
    color: #242423;
    padding-top: 1.3vw;
}

.header_margin {
    margin-top:5vw;
}
.header_logo_img {
    display: block;
    position: relative;
    width: 13vw;
    height: 100%;
    margin-top: 0.6vw;
}
.header_btn {
    width: 20px;
}
.header_logo {
    margin: auto;
    position: relative;
    margin-left: 0px;
}
.header_logo_sp {
    margin: auto;
}
.header_input {
    width: 23vw;
    font: normal normal normal 0.8vw/1.2vw Source Han Sans JP;
    border-radius: 1.5vw;
    border: 1px solid #707070;
    height: 2vw;
    padding-left: 1.5vw;
    margin-top: 1vw;
}
.header_input::placeholder {
    color: #CACACA;
}


.top_slider1 {
    background-image: url(../img/top_slider1.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 49vw;
}
.top_slider2 {
    background-image: url(../img/top_slider2.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 49vw;
}
.top1_text {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font: normal normal normal 34px/50px Ten Mincho;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 1px 2px 3px #000000;
    margin: auto;
    padding-top: 150px;
}
.top1_contact {
    display: block;
    margin-bottom: 10px;
}
.fix_line {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    z-index: 9000;
}

.check_flex {
    width:40vw;
    margin: 5px auto 20px;
    display: flex;
    justify-content: space-between;
}
input[type=checkbox].checkbox_pink {
    accent-color: #F19AAA;
    width: 1.5vw;
    height: 1.5vw;
}
.check_text {
    width:37.5vw;
    color: #000000;
    font: normal normal normal 14px/20px Kozuka Gothic Pr6N;
    text-decoration: underline;
}

.login_div {
    width:30vw;
    margin: 5px auto 20px;
}
.contact_div {
    width:40vw;
    margin: 5px auto 20px;
}

.reminder_link {
    text-align: center;
    display: block;
    color: #000;
    text-decoration: underline;
    margin: 20px;
}
.reminder_text {
    text-align: center;
    margin-bottom: 4vw;
    font-size: 1.5vw;
}

.contact_name {
    font: normal normal normal 16px/25px Ten Mincho;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 5px;
}
.contact_text {
    border: none;
    height: 45px;
    width: 100%;
    padding: 8px;
    border: 1px solid #707070;
    border-radius: 5px;
}
.contact_textarea {
    border: none;
    height: 300px;
    width: 100%;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 5px;
}
.send_btn, .send_btn:hover {
    background: #000000 0% 0% no-repeat padding-box;
    padding: 1.3vw;
    width: 20vw;
    text-align: center;
    font: normal normal normal 1.5vw/2vw Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    margin: auto;
    text-decoration: none;
}
.error_message {
    font: normal normal normal 14px/29px Kozuka Gothic Pr6N;
    color: #CC0000;
    text-align: center;
}
.comp_text {
    font: normal normal normal 1.3vw/2.5vw Kozuka Gothic Pr6N;
    text-align: center;
    padding: 50px;
}


footer {
    background: #F2E1E4 0% 0% no-repeat padding-box;
    letter-spacing: 0px;
    padding: 4vw 10vw 1.5vw;
    width:100%;
    height: 52vw;
    background-size: cover;
}
.footer_title {
    font: normal normal normal 30px/35px Ten Mincho;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
}
.footer_title2 {
    font: normal normal normal 20px/35px Ten Mincho;
    letter-spacing: 0px;
    color: #000;
    margin: 0 auto 20px;
    width: 350px;
}
.footer_text1 {
    font: normal normal normal 16px/20px Ten Mincho;
    letter-spacing: 0px;
    color: #000;
    margin: 0 auto 20px;
    width: 350px;
}
.footer_logo {
    width: 12vw;
    margin: -2vw auto 2.5vw;
    display: block;
}
.copyright {
    text-align: center;
    font: normal normal normal 1.2vw/2.4vw Kozuka Gothic Pr6N;
    color: #FFFFFF;
}

.footer_link1 {
    font: normal normal bold 1.5vw/2vw Arial;
    color: #503C3C;
    letter-spacing: 2px;
    text-shadow: 0px 1px 2px #FFFFFF;
    margin-right:4vw;
    margin-bottom: 2vw;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    width:100%;
    flex-wrap: wrap;
    margin-bottom: 2.5vw;
    margin-top: 0.5vw;
}
.footer_link2, .footer_link3 {
    display: block;
    font: normal normal normal 1.1vw/1.6vw Kozuka Gothic Pr6N;
    color: #503C3C;
    text-shadow: 0px 1px 2px #FFFFFF;
}
.footer_link3 {
    width:33%;
}

.footer_sns_flex {
    width: 35vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer_sns_img {
    width:10vw;
}

.footer_flex_white {
    width: 100%;
    padding:2vw 3vw;
    display: flex;
    justify-content: space-between;
}
.footer_link_white {
    display: block;
    font: normal normal normal 1.1vw/1.6vw Kozuka Gothic Pr6N;
    color: #fff;
}

.top_category_div {
    padding:8vw 10vw;
}
.top_category_title {
    display: block;
    margin: auto;
    width:20vw;
}
.top_category_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3vw 0;
}
.top_category_a {
    width:20vw;
    display: block;
}
.top_category_img {
    width:100%;
}
.top_category_dummy {
    width:8vw;
}
.view_all_btn {
    display: block;
    float: right;
    width:10vw;
}

.top_bg2 {
    background-image: url(../img/top_bg2.png);
    padding:6vw;
    width:100%;
    background-position: center;
    background-size: cover;
    height: 63vw;
}
.top2_box {
    border: 2px solid #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.trouble_img1 {
    width:40vw;
    display: block;
    position: relative;
    top:-3vw;
    left:-3vw;
    z-index: 500;
}
.top2_brown {
    background-color: rgba(45, 41, 41, 0.5);
    border-radius: 6px;
    width: 60vw;
    display: block;
    position: relative;
    height: 50vw;
    margin-top: -45vw;
    float: right;
    margin-right: -3vw;
    padding-right: 8vw;
    padding-top: 10vw;
}
.top2_a {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 6vw;
    font: normal normal normal 1.5vw/2vw Kozuka Gothic Pr6N;
    letter-spacing: 0.6vw;
    color: #FFFFFF;
}

.top_pickup_title {
    width:100%;
    display: block;
}

.top_bg3 {
    background: #F2E1E4 0% 0% no-repeat padding-box;
    padding:4vw;
}
.top3_flex {
    padding:2vw 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #338F86;
}
.top3_ex {
    width:35vw;
}
.top3_text {
    font: normal normal normal 1.5vw/1.5vw Kozuka Gothic Pro;
    color: #338F86;
    text-align: center;
    margin-top: 8vw;
}
.detail_btn {
    margin:2vw auto;
    width:20vw;
    display: block;
}
.top3_list {
    width:50vw;
    display: flex;
    justify-content: space-between;
}
.top3_item_a {
    display: block;
    width:16vw;
    background-color: #fff;
    font: normal normal normal 1.2vw/1.5vw Arial;
    padding-bottom: 3vw;
}
.top3_item_a:hover {
    text-decoration: none;
}
.top3_item_img {
    width: 100%;
    display: block;
}
.top3_item_name {
    padding: 0 1vw;
    margin:10px 0;
    color: #000000;
}
.top_ranking_title {
    display: block;
    margin:8vw auto 2vw;
    width:18vw;
}
.top_ranking_a {
    font: normal normal normal 1.5vw/1.8vw Kozuka Gothic Pr6N;
    letter-spacing: 1.6px;
    color: #3169AA;
    display: block;
    text-align: center;
}
.top_rank3 {
    display: flex;
    justify-content: space-between;
    width: 52vw;
    margin: 5vw auto;
}
.top_rank_other {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 2vw auto 10vw;
}
.top_rank_other_a {
    display: block;
    width:14vw;
    background-color: #fff;
    font: normal normal normal 1.2vw/1.5vw Arial;
    padding-bottom: 2vw;
}
.rank_img {
    position: relative;
    top: -1.5vw;
    left: -1.5vw;
    width: 3vw;
}
.ranking_item_img {
    width: 100%;
    display: block;
    margin-top: -3vw;
}

.top_news_bg {
    background-image: url(../img/top_news_bg.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 45vw;
    padding-top: 5vw;
}
.top_news_title {
    font: normal normal normal 2.5vw/2.5vw Arial;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-align: center;
}
.top_news_a {
    display: block;
    font: normal normal normal 1.2vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 5vw;
}
.top_news_flex {
    width:75vw;
    margin: 1vw auto;
    display: flex;
    justify-content: space-between;
}
.top_news_box {
    width:22vw;
    display: flex;
    justify-content: space-between;
}
.top_news_box {
    text-decoration: none;
}
.top_news_img {
    width:8vw;
    height:8vw;
}
.top_news_content {
    width:12vw;
    padding-top: 5px;
    font: normal normal normal 1.1vw/1.3vw Kozuka Gothic Pr6N;
    color: #000000;
}
.top_news_date {
    padding-top: 1vw;
    font: normal normal normal 1.1vw/1.3vw Kozuka Gothic Pr6N;
    color: #fff;
    text-align: right;
}

.category_div {
    padding:3vw 10vw;
}
.category_title {
    font: normal normal bold 30px/29px Arial;
    letter-spacing: 3px;
    color: #3169AA;
    margin-bottom: 3vw;
}
.category_ja {
    font: normal normal normal 14px/31px Kozuka Gothic Pr6N;
}
.category_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}
.category_item_a {
    display: block;
    width: 15vw;
    background-color: #fff;
    font: normal normal normal 1.2vw/1.5vw Arial;
    padding-bottom: 3vw;
}

.pickup_div {
    background: #F2E1E4 0% 0% no-repeat padding-box;
    padding:5vw 10vw;
}
.pickup_title {
    font: normal normal bold 2.3vw/2.3vw Arial;
    letter-spacing: 0.2vw;
    color: #338F86;
}
.pickup_genre_title {
    text-align: center;
    margin:5vw 0 3vw;
    font: normal normal bold 1.6vw/2vw Kozuka Gothic Pro;
    color: #338F86;
}

.trouble_title {
    font: normal normal bold 30px/29px Arial;
    letter-spacing: 3px;
    color: #3169AA;
    margin-bottom: 3vw;
    padding-left: 4vw;
}
.trouble_div {
    padding:3vw 0;
    background: transparent linear-gradient(179deg, #F8F1EA 0%, #5B21218C 100%) 0% 0% no-repeat padding-box;
}
.trouble_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
}
.trouble_list {
    width:30vw;
}
.trouble_a {
    font: normal normal normal 1.3vw/2vw Kozuka Gothic Pr6N;
    letter-spacing: 0.4vw;
    color: #503C3C;
    margin:3vw 0;
    display: block;
}
.trouble_main_img {
    display: block;
    width:70vw;
}
.trouble_bar {
    width:100%;
    display: block;
    margin: 8vw 0;
}
.trouble_flex2 {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 10vw 4vw;
}
.window_img {
    width:30vw;
    display: block;
}
.trouble_detail_title {
    padding:0.8vw 3vw;
    text-align: center;
    font: normal normal normal 1.8vw/1.8vw Kozuka Gothic Pr6N;
    letter-spacing: 0.3vw;
    color: #F5F8FC;
    background: #3169AA 0% 0% no-repeat padding-box;
    border-radius: 23px;
    display: block;
    margin: auto;
    width: 40vw;
}
.trouble_detail_text {
    padding: 3vw 13vw;
    font: normal normal normal 1.2vw/1.6vw DIN;
    letter-spacing: 0.2vw;
    color: #3169AA;
}
.trouble_detail_flex {
    width: 80vw;
    margin:2vw auto;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}
.trouble_detail_img {
    width:20vw;
    display: block;
}
.trouble_detail_content {
    width:60vw;
    padding:1.2vw 3vw 1vw;
}
.trouble_item_name {
    font: normal normal bold 1.5vw/1.5vw Arial;
    letter-spacing: 0px;
    color: #2E2E2E;
}
.trouble_item_text {
    font: normal normal normal 1.1vw/1.5vw Arial;
    letter-spacing: 0px;
    color: #2E2E2E;
    margin-top: 5px;
    margin-bottom: 10px;
}
.trouble_item_pink {
    font: normal normal normal 1.3vw/1.5vw DIN;
    letter-spacing: 0.25vw;
    color: #FF8BAF;
    margin-top: 3vw;
    margin-bottom: 1vw;
}
.trouble_detail_blue {
    text-decoration: underline;
    font: normal normal normal 1.7vw/1.7vw Kozuka Gothic Pr6N;
    letter-spacing: 0.3vw;
    color: #3169AA;
    margin-left: 15vw;
    margin-top: 10vw;
    margin-bottom: 3vw;
}
.trouble_link_flex {
    padding:0 15vw;
    display: flex;
    justify-content: space-between;
}
.trouble_link_a {
    font: normal normal normal 1.2vw/2vw Kozuka Gothic Pr6N;
    letter-spacing: 0.2vw;
    color: #503C3C;
}

.ranking_title {
    font: normal normal bold 2.5vw/2.5vw Arial;
    letter-spacing: 0.2vw;
    color: #3169AA;
    padding-left: 7vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.ranking_detail_img {
    width: 20vw;
    display: block;
    margin-top: -3vw;
}
.ranking_img_a {
    display: block;
}
.top_rank_other2 {
    display: flex;
    justify-content: space-between;
    width: 62vw;
    margin: 2vw auto 10vw;
}
.fav_right {
    width: 20px;
    float: right;
}

.news_banner {
    width:75vw;
    margin:4vw auto;
    display: block;
}
.top_news_date_gray {
    padding-top: 1vw;
    font: normal normal normal 1.1vw/1.3vw Kozuka Gothic Pr6N;
    color: #CACACA;
    text-align: right;
}
.news_detail_div {
    width:75vw;
    margin:4vw auto;
    font: normal normal normal 1vw/1.5vw Kozuka Gothic Pr6N;
    color: #000000;
}
.news_detail_title {
    font: normal normal bold 1.5vw/1.5vw Kozuka Gothic Pr6N;
    color: #000000;
    margin-top:10px;
    margin-bottom: 20px;
}

.form_flex {
    width:40vw;
    margin: 5px auto 20px;
    display: flex;
    justify-content: space-between;
}
.contact_div_short {
    width:19vw;
}

.item_flex {
    display: flex;
    width:100%;
    margin-top: 5vw;
}
.item_detail_img {
    width: 10vw;
    display: block;
    margin-right:1.5vw;
}
.item_detail_name {
    font: normal normal bold 1.5vw/2vw Kozuka Gothic Pr6N;
    color: #000000;
    margin-bottom: 1vw;
}
.item_detail_price {
    font: normal normal normal 1.3vw/2vw Kozuka Gothic Pr6N;
    color: #000000;
}
.item_detail_sum {
    width:25vw;
    font: normal normal normal 1.3vw/2vw Kozuka Gothic Pr6N;
    color: #000000;
    border-top:1px solid #CCCCCC;
    padding: 0.5vw 0;
}
.buy_btn_flex {
    display: flex;
    justify-content: space-between;
    width:48vw;
    margin-left: 7vw;
    flex-wrap: wrap;
}
.buy_btn_black {
    background: #242423 0% 0% no-repeat padding-box;
    text-align: center;
    color: #FFFFFF;
    font: normal normal normal 1.4vw/1.5vw Kozuka Gothic Pr6N;
    padding:0.5vw 0;
    width:23vw;
    height: 4.5vw;
    margin-top: 3vw;
    border:1px solid #000;
    display: block;
}
.buy_btn_white {
    background: #fff 0% 0% no-repeat padding-box;
    text-align: center;
    color: #242423;
    font: normal normal normal 1.4vw/1.5vw Kozuka Gothic Pr6N;
    padding:0.5vw 0;
    width:23vw;
    height: 4.5vw;
    margin-top: 3vw;
    border:1px solid #000;
    display: block;
}
.pay_div {
    width:45vw;
    margin:5vw auto;
    font: normal normal normal 1.2vw/2.2vw Kozuka Gothic Pr6N;
    color: #000000;
}

.radio_pink {
    accent-color: pink;
    margin-right:0.7vw;
}
.charge_span {
    font-size: 1vw;
    margin-left: 1.5vw;
}

.pay_confirm_div {
    width:40vw;
    margin:5vw auto;
    font: normal normal normal 1.2vw/1.6vw Kozuka Gothic Pr6N;
    color: #000000;
}
.edit_a {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    display: block;
    text-decoration: underline;
    font: normal normal bold 1.4vw/2vw Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #000000;
}
.gray_line {
    width:100%;
    height:1px;
    background:#707070;
    margin: 1vw 0;
}
.black_underline_a {
    color: #000;
    text-decoration: underline;
}

.pay_comp_div {
    text-align: center;
    width:50vw;
    margin:5vw auto;
    font: normal normal normal 1.2vw/1.6vw Kozuka Gothic Pr6N;
    color: #000000;
}

.buy_flex_text {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 14px/21px Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #503C3C;
}

.item_detail_div {
    width:80vw;
    margin: auto;
    padding: 5vw 0;
}
.item_detail_flex {
    width:100%;
    display:flex;
    justify-content: space-between;
}
.item_detail_img_list {
    width:8vw;
}
.item_detail_img_s {
    width:100%;
    margin-bottom: 10px;
}
.item_detail_img_div {
    width:30vw;
}
.item_detail_sphere {
    display: block;
    float: right;
    margin-top: -1vw;
    margin-right: -1vw;
    width: 5vw;
    height: 5vw;
    z-index: 1000;
    position: relative;
}
.item_detail_img_main {
    width: 100%;
    display: block;
    position: relative;
    top: -4vw;
}
.item_detail_content {
    width:40vw
}
.item_detail_ex {
    width:100%;
    padding-left: 1vw;
    padding-top: 1vw;
    font: normal normal bold 1.8vw/2vw Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 3vw;
}
.item_detail_text {
    margin:1vw 0;
    font: normal normal normal 1.4vw/1.7vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
}
.item_detail_tag {
    font: normal normal normal 1.2vw/1.5vw Kozuka Gothic Pr6N;
    color: #3169AA;
    margin-right:0.5vw;
}
.black_line {
    width:100%;
    height:1px;
    background:#000;
}
.item_detail_fav {
    width: 26px;
    margin-right: 1vw;
    margin-left: auto;
    display: block;
}
.item_detail_price_flex {
    padding:1vw 0.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: normal normal bold 1.2vw/1.5vw Kozuka Gothic Pr6N;
    color: #000000;
}
.price_off_span {
    font: normal normal normal 1.3vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #FF0000;
    margin-left:0.1vw;
    margin-right:2vw
}
.price_detail_a {
    text-decoration: underline;
    font: normal normal normal 1vw/2vw Arial;
    letter-spacing: 0px;
    color: #3169AA;
}
.radio_orange {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #707070;
    border-radius: 50%;
    background: #fff;
    margin-right: 0.7vw;
}

.radio_orange:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}
.radio_orange:checked:before {
    background: #FFBC78;
}
.item_detail_price_div {
    font: normal normal bold 1.8vw/1.8vw Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #000000;
    padding-left: 2vw;
    padding-top: 0.6vw;
}
.item_detail_price_gray {
    font: normal normal normal 1.5vw/1.8vw Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #707070;
}
.input_number {
    width: 6vw;
    padding: 0.5vw 0 0.5vw 2vw;
    /* border-radius: 5px 0px 0px 5px; */
    border-radius: 0;
    margin-top: 1vw;
    border: 1px solid #000;
    height: 3vw;
}
.select_month {
    margin-top: 0.5vw;
    width: 6vw;
    padding: 0vw 0 0vw 1vw;
    border: 1px solid #000;
    height: 3vw;
}
.item_detail_price_list {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width: 27.5vw;
    margin-top: 0.5vw;
    margin-left: 1vw;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}
.item_detail_item {
    width:8vw;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}
.item_detail_reg {
    width: 5vw;
    font: normal normal 600 1.3vw/1.5vw Segoe UI;
    letter-spacing: 0px;
    color: #2D2A24;
}
.orange_sphere {
    width: 3vw;
    height: 3vw;
    background: #FFBC78 0% 0% no-repeat padding-box;
    border-radius: 50px;
    font: normal normal normal 1vw/1vw Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #2D2A24;
    text-align: center;
    padding-top: 0.4vw;
}
.item_detail_btn_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item_detail_btn {
    width:19vw;
    background: #000000 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal normal 1.1vw/1.1vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #FFFFFF;
    padding:1vw;
    display: block;
}
.tab_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
}
.item_detail_tab {
    display: block;
    padding:1.3vw;
    text-align: center;
    border-left: 2px solid #242423;
    border-right: 2px solid #242423;
    border-top: 2px solid #242423;
    font: normal normal normal 1.5vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #FFFFFF;
    background-color: #000;
    width:27vw;
}
.item_detail_tab:hover {
    color: #fff;
    text-decoration: none;
}
.item_current {
    color: #242423;
    background-color: #fff;
}
.item_current:hover {
    color: #242423;
}
.detail_content, .review_content, .qa_content {
    background-color: #fff;
    border-left: 2px solid #242423;
    border-right: 2px solid #242423;
    border-bottom: 2px solid #242423;
    height: 45vw;
    overflow-y: scroll;
    scrollbar-width: none;
}
.detail_content::-webkit-scrollbar, .review_content::-webkit-scrollbar, .qa_content::-webkit-scrollbar{
    display:none;
}
.detail_content {
    padding:5vw;
    font: normal normal normal 1vw/1.4vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #2E2E2E;
}
.review_content {
    padding:2vw 3vw;
}
.qa_content {
    padding:2vw;
}
.detail_content_flex {
    width:100%;
    display: flex;
    margin-top: 2vw;
}
.detail_content_title {
    font-weight: bold;
    margin-right:2vw;
    width: 12vw;
}
.detail_content_text {
    width: 68vw;
}

.qa_flex {
    padding:1vw 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.qa_flex_s {
    width: 10vw;
    text-align: center;
    font: normal normal normal 1.3vw/1.3vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #242423;
}
.qa_flex_s_gray {
    width: 10vw;
    text-align: center;
    font: normal normal normal 1.1vw/1.2vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #5D43438C;
}
.qa_flex_l {
    width: 40vw;
    text-align: center;
    font: normal normal normal 1.3vw/1.3vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #242423;
}
.qa_states {
    width: 10vw;
    border-radius: 2vw;
    font: normal normal normal 1.3vw/1.3vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #fff;
    text-align: center;
    padding: 0.7vw;
    height: 3vw;
}
.qa_gray {
    background: #707070 0% 0% no-repeat padding-box;
}
.qa_orange {
    background: #FFBC78 0% 0% no-repeat padding-box;
}
.qa_flex_text {
    width: 40vw;
    font: normal normal normal 1.1vw/1.2vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #242423;
}
.qa_gray_line {
    width: 100%;
    height:1px;
    background-color: #707070;
    margin:1vw 0;
}
.qa_answer {
    width: 64vw;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 17px;
    padding:1vw;
    font: normal normal normal 1.1vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #FFFFFF;
}

.review_flex {
    padding:1vw 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.review_box {
    width:35vw;
    padding:1.5vw;
    border:#000 1px solid;
}
.review_box_title {
    font: normal normal bold 1.5vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #503C3C;
}
.review_5star {
    font: normal normal normal 3.5vw/3.5vw Kozuka Gothic Pr6N;
    letter-spacing: 1vw;
    color:#FFBC78;
    text-align: center;
    margin:2vw;
}
.review_5 {
    font: normal normal normal 3vw/3vw Kozuka Gothic Pr6N;
    letter-spacing: 0.3vw;
    color: #503C3C;
    text-align: center;
}
.review_bar_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:0 0.5vw;
    margin: 1vw 0;
}
.review_bar_star {
    width:4vw;
    font: normal normal bold 1.5vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #503C3C;
}
.review_bar {
    border: 1px solid #503C3C;
    width:23vw;
    height: 1vw;
    margin-top: 0.3vw;
}
.review_bar_orange {
    background-color: #FFBC78;
    height: 100%;
}
.review_bar_per {
    font: normal normal normal 1vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #503C3C;
    width:3vw;
}
.review_star {
    font: normal normal normal 2vw/2.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.2vw;
    color: #503C3C;
}
.review_name {
    font: normal normal normal 1.2vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #5D43438C;
    margin: 1vw 0;
}
.review_text {
    font: normal normal normal 1.2vw/1.5vw Kozuka Gothic Pr6N;
    letter-spacing: 0.1vw;
    color: #503C3C;
}
.top_subsc_a {
    display: block;
    margin: auto;
    width: 20vw;
}
.top_subsc_btn {
    margin: 39vw auto 0;
    display: block;
    width: 20vw;
}

.subsc_title {
    font: normal normal 600 2.7vw/3vw Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    padding:1vw;
    background: #2D2A24 0% 0% no-repeat padding-box;
    width: 100%;
    margin:4vw 0;
}
.subsc_flex {
    width:70vw;
    display: flex;
    justify-content: space-between;
    margin:4vw auto;
}
.subsc_no {
    display: block;
    width:6vw;
    height:6vw;
    margin-top: 4vw;
}
.subsc_text {
    font: normal normal normal 1.6vw/2.5vw Segoe UI;
    letter-spacing: 0px;
    color: #2D2A24;
    width: 24vw;
    margin-top: 4.5vw;
}
.subsc_flex span {
    font: normal normal normal 1.1vw/1.8vw Segoe UI;
    color: #3169AA;
}
.subsc2 {
    width: 30vw;
    padding-right: 4vw;
}
.skipstop {
    width:20vw;
    margin: 3vw auto;
    display: block;
}
.subsc_box {
    border: 1px solid #3169AA;
    width: 50vw;
    padding:2vw;
    font: normal normal normal 1.3vw/2vw Segoe UI;
    color: #2D2A24;
    margin: 3vw auto;
}
.subsc_box_title {
    font: normal normal 600 2.5vw/3.5vw Segoe UI;
    color: #2D2A24;
}
.subsc_box_sub {
    font: normal normal normal 1.2vw/1.8vw Segoe UI;
    letter-spacing: 0px;
    color: #3169AA;
}
.subsc_box_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3vw 0;
}
.subsc_box_blue {
    background: #3169AA 0% 0% no-repeat padding-box;
    font: normal normal 600 1.8vw/2.5vw Segoe UI;
    color: #FFFFFF;
    width: 10vw;
    padding:1.7vw 0;
    text-align: center;
    height: 6vw;
}
.subsc_box_text {
    width: 34vw;
    padding-top: 0.7vw;
}
.subsc_box_text span {
    font: normal normal normal 1vw/1.8vw Segoe UI;
    color: #2D2A24;
    margin-left: 2vw;
}

.mypage_myname {
    font: normal normal normal 2vw/2.3vw Kozuka Gothic Pr6N;
    letter-spacing: 0.2vw;
    color: #2D2A24;
    margin:3vw 5vw;
}
.mypage_point_div {
    width: 100%;
    padding:2.5vw 15vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font: normal normal normal 1.8vw/4vw Arial;
    color: #3169AA;
}
.mypage_point_div span {
    font: normal normal normal 2.4vw/4vw Arial;
    margin-left: 3vw;
}
.mypage_edit_a {
    border: 3px solid #3169AA;
    border-radius: 25px;
    width: 5vw;
    text-align: center;
    padding: 0.4vw 0;
    font: normal normal normal 1vw/1.5vw Arial;
    color: #3169AA;
    display: block;
    float: right;
    top: -1vw;
    position: relative;
}
.mypage_flex {
    display: flex;
    width: 36vw;
    margin: 4vw auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mypage_btn_a {
    display: block;
    width: 17vw;
    margin-bottom: 1vw;
}
.mypage_btn_a img {
    width: 100%;
}

.subsc_item_quantity {
    font: normal normal normal 1.6vw/2.3vw Arial;
    letter-spacing: 0.1vw;
    color: #2D2A24;
    margin: 4vw 2vw;
}
.subsc_item_flex {
    display: flex;
    width: 80%;
    margin: 3vw auto;
}
.subsc_item_flex2 {
    display: flex;
    width: 80%;
    margin: 3vw auto;
    justify-content: space-between;
}
.subsc_item_line {
    height: 2px;
    width: 90%;
    margin: 3vw auto;
    background-color: #000;
}
.subsc_item_a {
    border: 3px solid #3169AA;
    border-radius: 25px;
    width: 5vw;
    text-align: center;
    padding: 0.4vw 0;
    font: normal normal normal 1vw/1.5vw Arial;
    color: #3169AA;
    display: block;
    float: right;
    position: relative;
    height: 2.6vw;
}
.subsc_item_btn_w {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #2D2A24;
    border-radius: 20px;
    width: 25vw;
    padding:0.8vw 0;
    font: normal normal bold 1.2vw/1.2vw Kozuka Gothic Pr6N;
    color: #2D2A24;
    margin: 1vw auto;
    display: block;
    text-align: center;
}
.subsc_item_btn_b {
    background: #2D2A24 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    width: 25vw;
    padding:0.8vw 0;
    font: normal normal bold 1.2vw/1.2vw Kozuka Gothic Pr6N;
    color: #FFFFFF;
    margin: 1vw auto;
    display: block;
    text-align: center;
}
.skip_after_btn {
    background: #707070 0% 0% no-repeat padding-box;
    color: #FFFFFF8C!important;
}



/* ポップアップ */
.popup_bg {
    position: fixed; /* ブラウザの定位置に固定 */
	background: rgba(0, 0, 0, .5); /* 背景色を半透明の黒色に */
	width: 100%; /* 要素の横幅を画面全体に */
	height: 100%; /* 要素の高さを画面全体に */
	top: 0; /* 要素の固定位置をブラウザ最上部に合わせる */
	left: 0; /* 要素の固定位置をブラウザ左側に合わせる */
	z-index: 5000; /* 要素をコンテンツより前面に（要調整） */
}
.sample-popup-content {
	/* ポップアップ本体 */
	display: inline-block;
	position: fixed;
	width: 35vw;
	z-index: 6000;
	background: #fff;
	padding: 2% 2% 4%;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow-y: scroll;
    font: normal normal normal 1.4vw/1.4vw Kozuka Gothic Pr6N;
    color: #2D2A24;
    border: 1px solid #707070;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
}
.popup_title {
    font-weight: bold;
    margin-bottom: 2vw;
}
.popup_red {
    font: normal normal normal 1vw/1.2vw Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #CC2424;
    margin-top: 0.5vw;
    margin-bottom: 3.5vw;
}
.popup_img {
    width: 7vw;
    display: block;
    margin-right: 1vw;
}
.popup_item_flex {
    display: flex;
    width: 100%;
    text-align: left;
}
.popup_detail_name {
    font: normal normal bold 1.2vw/1.2vw Kozuka Gothic Pr6N;
    color: #000000;
    margin-bottom: 1vw;
    margin-top: 0.3vw;
}
.popup_detail_price {
    font: normal normal normal 1.1vw/1.5vw Kozuka Gothic Pr6N;
    color: #000000;
}
.popup_btn_flex {
    display: flex;
    padding:0 20%;
    margin-top: 3vw;
    justify-content: space-between;
}
.popup_btn_flex a {
    color: #2D2A24;
    display: block;
}
.popup_back_btn {
    margin-top: 3vw;
    color: #2D2A24;
    display: block;
}
.skip_after_red {
    margin-bottom: 1.5vw;
    text-align: center;
}






@media screen and (max-width: 500px) {
    header {
        background-position: center;
        background-size: cover;
        height: 50px;
        padding: 10px;
    }
    .header_menu {
        display: inline;
    }
    .header_margin {
        /* margin-top: 50px; */
    }
    .sp_fixed_left {
        font: normal normal normal 15px/30px Hiragino Kaku Gothic Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
    }
    .top1_left {
        margin: 0 3%;
        position: fixed;
        bottom: 10vw;
        width: 94%;
        height: auto;
        z-index: 6000;
        display: flex;
        justify-content: space-between;
    }
    .top1_left2 {
        margin: 0 3%;
        position: fixed;
        bottom: 5vw;
        width: 94%;
        height: auto;
        z-index: 6000;
        display: flex;
        justify-content: space-between;
        font: normal normal normal 15px/30px Hiragino Kaku Gothic Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
    }
    .top1_text {
        font: normal normal normal 29px/40px Ten Mincho;
        padding-top: 50px;
    }
    .top1_right {
        font: normal normal normal 12px/16px Hiragino Kaku Gothic Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-right: 20px;
        margin-left: auto;
        position: relative;
        top: 8vw;
        width: 210px;
        height: 200px;
    }
    .top_bg1 {
        background-image: url(../img/top_bg1_sp.png);
        width: 100%;
        height: 680px;
        background-position: center;
        background-size: cover;
        text-align: center;
        font: normal normal normal 11px/20px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
        padding-top: 50px;
        min-height: 680px;
    }
    .top_bg2 {
        width: 100%;
        height: 56vw;
        background-position: center;
        background-size: cover;
        text-align: center;
        font: normal normal normal 14px/25px Ten Mincho;
        letter-spacing: 0px;
        padding-top: 50px;
        min-height: 800px;
    }
    .top2_title {
        text-align: center;
        font: normal normal normal 25px/35px Ten Mincho;
        letter-spacing: 0px;
        margin-bottom: 20px;
    }
    .top2_youtube_text {
        font: normal normal normal 15px/25px Kozuka Gothic Pr6N;
        letter-spacing: 0px;
        color: #000000;
        width: 350px;
        margin: auto;
        text-align: left;
    }
    .top2_text {
        width: 350px;
        margin: 30px auto;
        text-align: left;
    }
    .top_bg_black {
        background: #131313 0% 0% no-repeat padding-box;
        text-align: center;
        font: normal normal normal 26px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        padding: 50px 0 80px;
        top: -3px;
        position: relative;
    }

    .top_bg5 {
        background-image: url(../img/top_bg5_sp.png);
        width: 100%;
        height: 38vw;
        background-position: center;
        background-size: cover;
        min-height: 260px;
        text-align: right;
        padding-top: 10vw;
        padding-right: 6vw;
    }
    .top5_title {
        font: normal normal normal 20px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
        margin-bottom: 10px;
    }
    .top5_text {
        font: normal normal normal 14px/20px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
    }
    .top_bg_black2 {
        font: normal normal normal 30px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        padding: 50px 0;
        top: -3px;
        position: relative;
        height: 2240px;
    }
    .top_black_title {
        font: normal normal normal 20px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        text-shadow: 0px 0px 5px #FFBB00;
        text-align: center;
        margin-bottom: 30px;
    }
    .ma_img {
        width: 350px;
        margin: auto;
        display: block;
    }
    .ma_title {
        width: 150px;
        display: block;
        margin: 20px auto 10px 39%;
    }
    .ma_text {
        text-align: center;
        font: normal normal normal 14px/20px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin-bottom: 30px;
    }
    .ma_text_flex {
        display: flex;
        width: 280px;
        text-align: left;
        margin: auto;
        justify-content: space-between;
    }
    .ma_btn {
        width: 180px;
        margin-top: 10px;
    }
    .top_bg6 {
        background-image: url(../img/top_bg6_sp.png);
        width: 100%;
        height: 680px;
        background-position: right;
        background-size: cover;
        font: normal normal normal 20px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #000000;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 50px;
    }
    .top6_text1 {
        letter-spacing: 0px;
        color: #000000;
        margin-bottom: 5px;
        font: normal normal normal 13px/18px Ten Mincho;
        padding-left: 1em;
        text-indent: -1.8em;
        width: 335px;
        margin: 5px auto;
    }
    .top6_text2 {
        font: normal normal normal 13px/18px Ten Mincho;
        padding-left: 1em;
        text-indent: -1.8em;
        letter-spacing: 0px;
        color: #D11F1F;
        margin-bottom: 10px;
        width: 335px;
        margin: 10px auto;
    }
    .top6_title {
        display: block;
        margin: 10px auto;
        width: 220px;
    }
    .top7_title {
        margin: auto;
        display: block;
        width: 350px;
    }
    .top_bg7 {
        background-image: url(../img/top_bg7_sp.png);
        width: 100%;
        height: 28vw;
        background-position: center;
        background-size: cover;
        min-height: 370px;
        position: relative;
        top: -1px;
        padding-top: 70px;
    }
    .top8_box {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 8px;
        padding: 10px;
        font: normal normal normal 16px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #000000;
        width: 350px;
        margin: 20px auto;
    }
    .top8_title {
        margin: 0 auto 30px 30%;
        display: block;
        width: 200px;
    }
    .top8_age {
        margin-top: 10px;
    }
    .top_bg9 {
        padding-top: 50px;
        height: 1180px;
    }
    .contact_div {
        width: 350px;
        margin: 5px auto 20px;
    }
    .contact_text, .contact_textarea {
        border: 1px solid #707070;
    }
    .send_btn, .send_btn:hover {
        background: #000000 0% 0% no-repeat padding-box;
        padding: 10px;
        width: 350px;
        text-align: center;
        font: normal normal normal 20px/25px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        display: block;
        margin: auto;
        text-decoration: none;
    }
    .top_bg8 {
        background-image: url(../img/top_bg8.png);
        width: 100%;
        height: 1200px;
        background-position: center;
        background-size: cover;
        position: relative;
        top: -2px;
        padding-top: 50px;
    }
    footer {
        background: #F1EBDC;
        letter-spacing: 0px;
        color: #000;
        padding-top: 50px;
        padding-bottom: 20px;
        background-image: url(../img/footer_bg_sp.png);
        width: 100%;
        height: 600px;
        background-size: auto;
    }
    .footer_title {
        font: normal normal normal 20px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin-bottom: 10px;
        text-align: center;
    }
    .footer_title2 {
        font: normal normal normal 16px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin: 0 auto 10px;
        width: 250px;
    }
    .footer_text1 {
        font: normal normal normal 14px/20px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin: 0 auto 20px;
        width: 250px;
    }
    .footer_logo {
        width: 180px;
        margin: 50px auto 20px;
        display: block;
    }
    .mail_comp {
        background-image: url(../img/top_bg8.png);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
        position: relative;
        top: -2px;
        padding-top: 80px;
        font-size: 17px;
        text-align: center;
    }
}

.g-recaptcha {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.grecaptcha-badge { visibility: hidden; }