@font-face {
    font-family: "KozGoPr6N";
    src:url("../font/KozGoPr6N-Regular.otf") format("opentype");
}

@font-face {
    font-family: "KozMinPr6N";
    src:url("../font/KozMinPr6N-Regular.otf") format("opentype");
}

@media screen and (min-width: 501px) {
    #registration_sp {
        display: none;
    }
    
}

@media screen and (max-width: 500px) {
    #registration_pc {
        display: none;
    }
    
}

.test {
    
}

#registration_pc {
    overflow-x: hidden;
    overflow-y: hidden;
}

#registration_sp {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: KozGoPr6N;
    background: #F1EBDC 0% 0% no-repeat padding-box;

}

header {
    background: #F8F1EA 0% 0% no-repeat padding-box;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: flex;
    padding: 1vw 4vw;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.header_menu {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}
.header_a {
    font: normal normal normal 1.3vw/1.4vw Arial;
    letter-spacing: 0px;
    color: #242423;
    padding-top: 1.3vw;
}

.header_margin {
    margin-top:5vw;
}
.header_logo_img {
    display: block;
    position: relative;
    width: 13vw;
    height: 100%;
    margin-top: 0.6vw;
}
.header_btn {
    width: 20px;
}
.header_logo {
    margin: auto;
    position: relative;
    margin-left: 0px;
}
.header_input {
    width: 23vw;
    font: normal normal normal 0.8vw/1.2vw Source Han Sans JP;
    border-radius: 1.5vw;
    border: 1px solid #707070;
    height: 2vw;
    padding-left: 1.5vw;
    margin-top: 1vw;
}
.header_input::placeholder {
    color: #CACACA;
}


.top_slider1 {
    background-image: url(../img/top_slider1.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 49vw;
}
.top_slider2 {
    background-image: url(../img/top_slider2.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 49vw;
}
.top_slider1_sp {
    background-image: url(../img/top_slider1_sp.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 160vw;
}
.top_slider2_sp {
    background-image: url(../img/top_slider2_sp.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 160vw;
}
.top1_text {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font: normal normal normal 34px/50px Ten Mincho;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 1px 2px 3px #000000;
    margin: auto;
    padding-top: 150px;
}
.top1_contact {
    display: block;
    margin-bottom: 10px;
}
.fix_line {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    z-index: 9000;
}

.check_flex {
    width:40vw;
    margin: 5px auto 20px;
    display: flex;
    justify-content: space-between;
}
input[type=checkbox].checkbox_pink {
    accent-color: #F19AAA;
    width: 1.5vw;
    height: 1.5vw;
}
.check_text {
    width:37.5vw;
    color: #000000;
    font: normal normal normal 14px/20px KozGoPr6N;
    text-decoration: underline;
}

.login_div {
    width:30vw;
    margin: 5px auto 20px;
}
.contact_div {
    width:40vw;
    margin: 5px auto 20px;
}

.reminder_link {
    text-align: center;
    display: block;
    color: #000;
    text-decoration: underline;
    margin: 20px;
}
.reminder_text {
    text-align: center;
    margin-bottom: 4vw;
    font-size: 1.5vw;
}

.contact_name {
    font: normal normal normal 16px/25px Ten Mincho;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 5px;
}
.contact_text {
    border: none;
    height: 45px;
    width: 100%;
    padding: 8px;
    border: 1px solid #707070;
    border-radius: 5px;
}
.contact_textarea {
    border: none;
    height: 300px;
    width: 100%;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 5px;
}
.send_btn, .send_btn:hover {
    background: #000000 0% 0% no-repeat padding-box;
    padding: 1.3vw;
    width: 20vw;
    text-align: center;
    font: normal normal normal 1.5vw/2vw KozGoPr6N;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    margin: auto;
    text-decoration: none;
}
.error_message {
    font: normal normal normal 14px/29px KozGoPr6N;
    color: #CC0000;
    text-align: center;
}
.comp_text {
    font: normal normal normal 1.3vw/2.5vw KozGoPr6N;
    text-align: center;
    padding: 50px;
}


footer {
    background: #F2E1E4 0% 0% no-repeat padding-box;
    letter-spacing: 0px;
    padding: 4vw 10vw 1.5vw;
    width:100%;
    height: 52vw;
    background-size: cover;
}
.footer_title {
    font: normal normal normal 30px/35px Ten Mincho;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
}
.footer_title2 {
    font: normal normal normal 20px/35px Ten Mincho;
    letter-spacing: 0px;
    color: #000;
    margin: 0 auto 20px;
    width: 350px;
}
.footer_text1 {
    font: normal normal normal 16px/20px Ten Mincho;
    letter-spacing: 0px;
    color: #000;
    margin: 0 auto 20px;
    width: 350px;
}
.footer_logo {
    width: 12vw;
    margin: -2vw auto 2.5vw;
    display: block;
}
.copyright {
    text-align: center;
    font: normal normal normal 1.2vw/2.4vw KozGoPr6N;
    color: #FFFFFF;
}

.footer_link1 {
    font: normal normal bold 1.5vw/2vw Arial;
    color: #503C3C;
    letter-spacing: 2px;
    text-shadow: 0px 1px 2px #FFFFFF;
    margin-right:4vw;
    margin-bottom: 2vw;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    width:100%;
    flex-wrap: wrap;
    margin-bottom: 2.5vw;
    margin-top: 0.5vw;
}
.footer_link2, .footer_link3 {
    display: block;
    font: normal normal normal 1.1vw/1.6vw KozGoPr6N;
    color: #503C3C;
    text-shadow: 0px 1px 2px #FFFFFF;
}
.footer_link3 {
    width:33%;
}

.footer_sns_flex {
    width: 35vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer_sns_img {
    width:10vw;
}

.footer_flex_white {
    width: 100%;
    padding:2vw 3vw;
    display: flex;
    justify-content: space-between;
}
.footer_link_white {
    display: block;
    font: normal normal normal 1.1vw/1.6vw KozGoPr6N;
    color: #fff;
}

.top_category_div {
    padding:8vw 10vw;
}
.top_category_title {
    display: block;
    margin: auto;
    width:20vw;
}
.top_category_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3vw 0;
}
.top_category_a {
    width:20vw;
    display: block;
}
.top_category_img {
    width:100%;
}
.top_category_dummy {
    width:8vw;
}
.view_all_btn {
    display: block;
    float: right;
    width:10vw;
}

.top_bg2 {
    background-image: url(../img/top_bg2.png);
    padding:6vw;
    width:100%;
    background-position: center;
    background-size: cover;
    height: 63vw;
}
.top2_box {
    border: 2px solid #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.trouble_img1 {
    width:40vw;
    display: block;
    position: relative;
    top:-3vw;
    left:-3vw;
    z-index: 500;
}
.top2_brown {
    background-color: rgba(45, 41, 41, 0.5);
    border-radius: 6px;
    width: 60vw;
    display: block;
    position: relative;
    height: 50vw;
    margin-top: -45vw;
    float: right;
    margin-right: -3vw;
    padding-right: 8vw;
    padding-top: 10vw;
}
.top2_a {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 6vw;
    font: normal normal normal 1.5vw/2vw KozGoPr6N;
    letter-spacing: 0.6vw;
    color: #FFFFFF;
}

.top_pickup_title {
    width:100%;
    display: block;
}

.top_bg3 {
    background: #F2E1E4 0% 0% no-repeat padding-box;
    padding:4vw;
}
.top3_flex {
    padding:2vw 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #338F86;
}
.top3_ex {
    width:35vw;
}
.top3_text {
    font: normal normal normal 1.5vw/1.5vw Kozuka Gothic Pro;
    color: #338F86;
    text-align: center;
    margin-top: 8vw;
}
.detail_btn {
    margin:2vw auto;
    width:20vw;
    display: block;
}
.top3_list {
    width:50vw;
    display: flex;
    justify-content: space-between;
}
.top3_item_a {
    display: block;
    width:16vw;
    background-color: #fff;
    font: normal normal normal 1.2vw/1.5vw Arial;
    padding-bottom: 3vw;
}
.top3_item_a:hover {
    text-decoration: none;
}
.top3_item_img {
    width: 100%;
    display: block;
}
.top3_item_name {
    padding: 0 1vw;
    margin:10px 0;
    color: #000000;
}
.top_ranking_title {
    display: block;
    margin:8vw auto 2vw;
    width:18vw;
}
.top_ranking_a {
    font: normal normal normal 1.5vw/1.8vw KozGoPr6N;
    letter-spacing: 1.6px;
    color: #3169AA;
    display: block;
    text-align: center;
}
.top_rank3 {
    display: flex;
    justify-content: space-between;
    width: 52vw;
    margin: 5vw auto;
}
.top_rank_other {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 2vw auto 10vw;
}
.top_rank_other_a {
    display: block;
    width:14vw;
    background-color: #fff;
    font: normal normal normal 1.2vw/1.5vw Arial;
    padding-bottom: 2vw;
}
.rank_img {
    position: relative;
    top: -1.5vw;
    left: -1.5vw;
    width: 3vw;
}
.ranking_item_img {
    width: 100%;
    display: block;
    margin-top: -3vw;
}

.top_news_bg {
    background-image: url(../img/top_news_bg.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height: 45vw;
    padding-top: 5vw;
}
.top_news_title {
    font: normal normal normal 2.5vw/2.5vw Arial;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-align: center;
}
.top_news_a {
    display: block;
    font: normal normal normal 1.2vw/1.5vw KozGoPr6N;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 5vw;
}
.top_news_flex {
    width:75vw;
    margin: 1vw auto;
    display: flex;
    justify-content: space-between;
}
.top_news_box {
    width:22vw;
    display: flex;
    justify-content: space-between;
}
.top_news_box {
    text-decoration: none;
}
.top_news_img {
    width:8vw;
    height:8vw;
}
.top_news_content {
    width:12vw;
    padding-top: 5px;
    font: normal normal normal 1.1vw/1.3vw KozGoPr6N;
    color: #000000;
}
.top_news_date {
    padding-top: 1vw;
    font: normal normal normal 1.1vw/1.3vw KozGoPr6N;
    color: #fff;
    text-align: right;
}

.category_div {
    padding:3vw 10vw;
}
.category_title {
    font: normal normal bold 30px/29px Arial;
    letter-spacing: 3px;
    color: #3169AA;
    margin-bottom: 3vw;
}
.category_ja {
    font: normal normal normal 14px/31px KozGoPr6N;
}
.category_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}
.category_item_a {
    display: block;
    width: 15vw;
    background-color: #fff;
    font: normal normal normal 1.2vw/1.5vw Arial;
    padding-bottom: 3vw;
}

.pickup_div {
    background: #F2E1E4 0% 0% no-repeat padding-box;
    padding:5vw 10vw;
}
.pickup_title {
    font: normal normal bold 2.3vw/2.3vw Arial;
    letter-spacing: 0.2vw;
    color: #338F86;
}
.pickup_genre_title {
    text-align: center;
    margin:5vw 0 3vw;
    font: normal normal bold 1.6vw/2vw Kozuka Gothic Pro;
    color: #338F86;
}

.trouble_title {
    font: normal normal bold 30px/29px Arial;
    letter-spacing: 3px;
    color: #3169AA;
    margin-bottom: 3vw;
    padding-left: 4vw;
}
.trouble_div {
    padding:3vw 0;
    background: transparent linear-gradient(179deg, #F8F1EA 0%, #5B21218C 100%) 0% 0% no-repeat padding-box;
}
.trouble_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
}
.trouble_list {
    width:30vw;
}
.trouble_a {
    font: normal normal normal 1.3vw/2vw KozGoPr6N;
    letter-spacing: 0.4vw;
    color: #503C3C;
    margin:3vw 0;
    display: block;
}
.trouble_main_img {
    display: block;
    width:70vw;
}
.trouble_bar {
    width:100%;
    display: block;
    margin: 8vw 0;
}
.trouble_flex2 {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 10vw 4vw;
}
.window_img {
    width:30vw;
    display: block;
}
.trouble_detail_title {
    padding:0.8vw 3vw;
    text-align: center;
    font: normal normal normal 1.8vw/1.8vw KozGoPr6N;
    letter-spacing: 0.3vw;
    color: #F5F8FC;
    background: #3169AA 0% 0% no-repeat padding-box;
    border-radius: 23px;
    display: block;
    margin: auto;
    width: 40vw;
}
.trouble_detail_text {
    padding: 3vw 13vw;
    font: normal normal normal 1.2vw/1.6vw DIN;
    letter-spacing: 0.2vw;
    color: #3169AA;
}
.trouble_detail_flex {
    width: 80vw;
    margin:2vw auto;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}
.trouble_detail_img {
    width:20vw;
    display: block;
}
.trouble_detail_content {
    width:60vw;
    padding:1.2vw 3vw 1vw;
}
.trouble_item_name {
    font: normal normal bold 1.5vw/1.5vw Arial;
    letter-spacing: 0px;
    color: #2E2E2E;
}
.trouble_item_text {
    font: normal normal normal 1.1vw/1.5vw Arial;
    letter-spacing: 0px;
    color: #2E2E2E;
    margin-top: 5px;
    margin-bottom: 10px;
}
.trouble_item_pink {
    font: normal normal normal 1.3vw/1.5vw DIN;
    letter-spacing: 0.25vw;
    color: #FF8BAF;
    margin-top: 3vw;
    margin-bottom: 1vw;
}
.trouble_detail_blue {
    text-decoration: underline;
    font: normal normal normal 1.7vw/1.7vw KozGoPr6N;
    letter-spacing: 0.3vw;
    color: #3169AA;
    margin-left: 15vw;
    margin-top: 10vw;
    margin-bottom: 3vw;
}
.trouble_link_flex {
    padding:0 15vw;
    display: flex;
    justify-content: space-between;
}
.trouble_link_a {
    font: normal normal normal 1.2vw/2vw KozGoPr6N;
    letter-spacing: 0.2vw;
    color: #503C3C;
}

.ranking_title {
    font: normal normal bold 2.5vw/2.5vw Arial;
    letter-spacing: 0.2vw;
    color: #3169AA;
    padding-left: 7vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.ranking_detail_img {
    width: 20vw;
    display: block;
    margin-top: -3vw;
}
.ranking_img_a {
    display: block;
}
.top_rank_other2 {
    display: flex;
    justify-content: space-between;
    width: 62vw;
    margin: 2vw auto 10vw;
}
.fav_right {
    width: 20px;
    float: right;
}

.news_banner {
    width:75vw;
    margin:4vw auto;
    display: block;
}
.top_news_date_gray {
    padding-top: 1vw;
    font: normal normal normal 1.1vw/1.3vw KozGoPr6N;
    color: #CACACA;
    text-align: right;
}
.news_detail_div {
    width:75vw;
    margin:4vw auto;
    font: normal normal normal 1vw/1.5vw KozGoPr6N;
    color: #000000;
}
.news_detail_title {
    font: normal normal bold 1.5vw/1.5vw KozGoPr6N;
    color: #000000;
    margin-top:10px;
    margin-bottom: 20px;
}

.form_flex {
    width:40vw;
    margin: 5px auto 20px;
    display: flex;
    justify-content: space-between;
}
.contact_div_short {
    width:19vw;
}

.item_flex {
    display: flex;
    width:100%;
    margin-top: 5vw;
}
.item_detail_img {
    width: 10vw;
    display: block;
    margin-right:1.5vw;
}
.item_detail_name {
    font: normal normal bold 1.5vw/2vw KozGoPr6N;
    color: #000000;
    margin-bottom: 1vw;
}
.item_detail_price {
    font: normal normal normal 1.3vw/2vw KozGoPr6N;
    color: #000000;
}
.item_detail_sum {
    width:25vw;
    font: normal normal normal 1.3vw/2vw KozGoPr6N;
    color: #000000;
    border-top:1px solid #CCCCCC;
    padding: 0.5vw 0;
}
.buy_btn_flex {
    display: flex;
    justify-content: space-between;
    width:48vw;
    margin-left: 7vw;
    flex-wrap: wrap;
}
.buy_btn_black {
    background: #242423 0% 0% no-repeat padding-box;
    text-align: center;
    color: #FFFFFF;
    font: normal normal normal 1.4vw/1.5vw KozGoPr6N;
    padding:0.5vw 0;
    width:23vw;
    height: 4.5vw;
    margin-top: 3vw;
    border:1px solid #000;
    display: block;
}
.buy_btn_white {
    background: #fff 0% 0% no-repeat padding-box;
    text-align: center;
    color: #242423;
    font: normal normal normal 1.4vw/1.5vw KozGoPr6N;
    padding:0.5vw 0;
    width:23vw;
    height: 4.5vw;
    margin-top: 3vw;
    border:1px solid #000;
    display: block;
}
.pay_div {
    width:45vw;
    margin:5vw auto;
    font: normal normal normal 1.2vw/2.2vw KozGoPr6N;
    color: #000000;
}

.radio_pink {
    accent-color: pink;
    margin-right:0.7vw;
}
.charge_span {
    font-size: 1vw;
    margin-left: 1.5vw;
}

.pay_confirm_div {
    width:40vw;
    margin:5vw auto;
    font: normal normal normal 1.2vw/1.6vw KozGoPr6N;
    color: #000000;
}
.edit_a {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    display: block;
    text-decoration: underline;
    font: normal normal bold 1.4vw/2vw KozGoPr6N;
    letter-spacing: 0px;
    color: #000000;
}
.gray_line {
    width:100%;
    height:1px;
    background:#707070;
    margin: 1vw 0;
}
.black_underline_a {
    color: #000;
    text-decoration: underline;
}

.pay_comp_div {
    text-align: center;
    width:50vw;
    margin:5vw auto;
    font: normal normal normal 1.2vw/1.6vw KozGoPr6N;
    color: #000000;
}

.buy_flex_text {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 14px/21px KozGoPr6N;
    letter-spacing: 0px;
    color: #503C3C;
}

.item_detail_div {
    width:80vw;
    margin: auto;
    padding: 5vw 0;
}
.item_detail_flex {
    width:100%;
    display:flex;
    justify-content: space-between;
}
.item_detail_img_list {
    width:8vw;
}
.item_detail_img_s {
    width:100%;
    margin-bottom: 10px;
}
.item_detail_img_div {
    width:30vw;
}
.item_detail_sphere {
    display: block;
    float: right;
    margin-top: -1vw;
    margin-right: -1vw;
    width: 5vw;
    height: 5vw;
    z-index: 1000;
    position: relative;
}
.item_detail_img_main {
    width: 100%;
    display: block;
    position: relative;
    top: -4vw;
}
.item_detail_content {
    width:40vw
}
.item_detail_ex {
    width:100%;
    padding-left: 1vw;
    padding-top: 1vw;
    font: normal normal bold 1.8vw/2vw KozGoPr6N;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 3vw;
}
.item_detail_text {
    margin:1vw 0;
    font: normal normal normal 1.4vw/1.7vw KozGoPr6N;
    letter-spacing: 0.1vw;
}
.item_detail_tag {
    font: normal normal normal 1.2vw/1.5vw KozGoPr6N;
    color: #3169AA;
    margin-right:0.5vw;
}
.black_line {
    width:100%;
    height:1px;
    background:#000;
}
.item_detail_fav {
    width: 26px;
    margin-right: 1vw;
    margin-left: auto;
    display: block;
}
.item_detail_price_flex {
    padding:1vw 0.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: normal normal bold 1.2vw/1.5vw KozGoPr6N;
    color: #000000;
}
.price_off_span {
    font: normal normal normal 1.3vw/1.5vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #FF0000;
    margin-left:0.1vw;
    margin-right:2vw
}
.price_detail_a {
    text-decoration: underline;
    font: normal normal normal 1vw/2vw Arial;
    letter-spacing: 0px;
    color: #3169AA;
}
.radio_orange {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #707070;
    border-radius: 50%;
    background: #fff;
    margin-right: 0.7vw;
}

.radio_orange:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}
.radio_orange:checked:before {
    background: #FFBC78;
}
.item_detail_price_div {
    font: normal normal bold 1.8vw/1.8vw KozGoPr6N;
    letter-spacing: 0px;
    color: #000000;
    padding-left: 2vw;
    padding-top: 0.6vw;
}
.item_detail_price_gray {
    font: normal normal normal 1.5vw/1.8vw KozGoPr6N;
    letter-spacing: 0px;
    color: #707070;
}
.input_number {
    width: 6vw;
    padding: 0.5vw 0 0.5vw 2vw;
    /* border-radius: 5px 0px 0px 5px; */
    border-radius: 0;
    margin-top: 1vw;
    border: 1px solid #000;
    height: 3vw;
}
.select_month {
    margin-top: 0.5vw;
    width: 6vw;
    padding: 0vw 0 0vw 1vw;
    border: 1px solid #000;
    height: 3vw;
}
.item_detail_price_list {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width: 27.5vw;
    margin-top: 0.5vw;
    margin-left: 1vw;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}
.item_detail_item {
    width:8vw;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}
.item_detail_reg {
    width: 5vw;
    font: normal normal 600 1.3vw/1.5vw Segoe UI;
    letter-spacing: 0px;
    color: #2D2A24;
}
.orange_sphere {
    width: 3vw;
    height: 3vw;
    background: #FFBC78 0% 0% no-repeat padding-box;
    border-radius: 50px;
    font: normal normal normal 1vw/1vw KozGoPr6N;
    letter-spacing: 0px;
    color: #2D2A24;
    text-align: center;
    padding-top: 0.4vw;
}
.item_detail_btn_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item_detail_btn {
    width:19vw;
    background: #000000 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal normal 1.1vw/1.1vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #FFFFFF;
    padding:1vw;
    display: block;
}
.tab_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
}
.item_detail_tab {
    display: block;
    padding:1.3vw;
    text-align: center;
    border-left: 2px solid #242423;
    border-right: 2px solid #242423;
    border-top: 2px solid #242423;
    font: normal normal normal 1.5vw/1.5vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #FFFFFF;
    background-color: #000;
    width:27vw;
}
.item_detail_tab:hover {
    color: #fff;
    text-decoration: none;
}
.item_current {
    color: #242423;
    background-color: #fff;
}
.item_current:hover {
    color: #242423;
}
.detail_content, .review_content, .qa_content {
    background-color: #fff;
    border-left: 2px solid #242423;
    border-right: 2px solid #242423;
    border-bottom: 2px solid #242423;
    height: 45vw;
    overflow-y: scroll;
    scrollbar-width: none;
}
.detail_content::-webkit-scrollbar, .review_content::-webkit-scrollbar, .qa_content::-webkit-scrollbar{
    display:none;
}
.detail_content {
    padding:5vw;
    font: normal normal normal 1vw/1.4vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #2E2E2E;
}
.review_content {
    padding:2vw 3vw;
}
.qa_content {
    padding:2vw;
}
.detail_content_flex {
    width:100%;
    display: flex;
    margin-top: 2vw;
}
.detail_content_title {
    font-weight: bold;
    margin-right:2vw;
    width: 12vw;
}
.detail_content_text {
    width: 68vw;
}

.qa_flex {
    padding:1vw 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.qa_flex_s {
    width: 10vw;
    text-align: center;
    font: normal normal normal 1.3vw/1.3vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #242423;
}
.qa_flex_s_gray {
    width: 10vw;
    text-align: center;
    font: normal normal normal 1.1vw/1.2vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #5D43438C;
}
.qa_flex_l {
    width: 40vw;
    text-align: center;
    font: normal normal normal 1.3vw/1.3vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #242423;
}
.qa_states {
    width: 10vw;
    border-radius: 2vw;
    font: normal normal normal 1.3vw/1.3vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #fff;
    text-align: center;
    padding: 0.7vw;
    height: 3vw;
}
.qa_gray {
    background: #707070 0% 0% no-repeat padding-box;
}
.qa_orange {
    background: #FFBC78 0% 0% no-repeat padding-box;
}
.qa_flex_text {
    width: 40vw;
    font: normal normal normal 1.1vw/1.2vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #242423;
}
.qa_gray_line {
    width: 100%;
    height:1px;
    background-color: #707070;
    margin:1vw 0;
}
.qa_answer {
    width: 64vw;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 17px;
    padding:1vw;
    font: normal normal normal 1.1vw/1.5vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #FFFFFF;
}

.review_flex {
    padding:1vw 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.review_box {
    width:35vw;
    padding:1.5vw;
    border:#000 1px solid;
}
.review_box_title {
    font: normal normal bold 1.5vw/1.5vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #503C3C;
}
.review_5star {
    font: normal normal normal 3.5vw/3.5vw KozGoPr6N;
    letter-spacing: 1vw;
    color:#FFBC78;
    text-align: center;
    margin:2vw;
}
.review_5 {
    font: normal normal normal 3vw/3vw KozGoPr6N;
    letter-spacing: 0.3vw;
    color: #503C3C;
    text-align: center;
}
.review_bar_flex {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:0 0.5vw;
    margin: 1vw 0;
}
.review_bar_star {
    width:4vw;
    font: normal normal bold 1.5vw/1.5vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #503C3C;
}
.review_bar {
    border: 1px solid #503C3C;
    width:23vw;
    height: 1vw;
    margin-top: 0.3vw;
}
.review_bar_orange {
    background-color: #FFBC78;
    height: 100%;
}
.review_bar_per {
    font: normal normal normal 1vw/1.5vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #503C3C;
    width:3vw;
}
.review_star {
    font: normal normal normal 2vw/2.5vw KozGoPr6N;
    letter-spacing: 0.2vw;
    color: #503C3C;
}
.review_name {
    font: normal normal normal 1.2vw/1.5vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #5D43438C;
    margin: 1vw 0;
}
.review_text {
    font: normal normal normal 1.2vw/1.5vw KozGoPr6N;
    letter-spacing: 0.1vw;
    color: #503C3C;
}
.top_subsc_a {
    display: block;
    margin: auto;
    width: 20vw;
}
.top_subsc_btn {
    margin: 39vw auto 0;
    display: block;
    width: 20vw;
}

.subsc_title {
    font: normal normal 600 2.7vw/3vw Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    padding:1vw;
    background: #2D2A24 0% 0% no-repeat padding-box;
    width: 100%;
    margin:4vw 0;
}
.subsc_flex {
    width:70vw;
    display: flex;
    justify-content: space-between;
    margin:4vw auto;
}
.subsc_no {
    display: block;
    width:6vw;
    height:6vw;
    margin-top: 4vw;
}
.subsc_text {
    font: normal normal normal 1.6vw/2.5vw Segoe UI;
    letter-spacing: 0px;
    color: #2D2A24;
    width: 24vw;
    margin-top: 4.5vw;
}
.subsc_flex span {
    font: normal normal normal 1.1vw/1.8vw Segoe UI;
    color: #3169AA;
}
.subsc2 {
    width: 30vw;
    padding-right: 4vw;
}
.skipstop {
    width:20vw;
    margin: 3vw auto;
    display: block;
}
.subsc_box {
    border: 1px solid #3169AA;
    width: 50vw;
    padding:2vw;
    font: normal normal normal 1.3vw/2vw Segoe UI;
    color: #2D2A24;
    margin: 3vw auto;
}
.subsc_box_title {
    font: normal normal 600 2.5vw/3.5vw Segoe UI;
    color: #2D2A24;
}
.subsc_box_sub {
    font: normal normal normal 1.2vw/1.8vw Segoe UI;
    letter-spacing: 0px;
    color: #3169AA;
}
.subsc_box_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3vw 0;
}
.subsc_box_blue {
    background: #3169AA 0% 0% no-repeat padding-box;
    font: normal normal 600 1.8vw/2.5vw Segoe UI;
    color: #FFFFFF;
    width: 10vw;
    padding:1.7vw 0;
    text-align: center;
    height: 6vw;
}
.subsc_box_text {
    width: 34vw;
    padding-top: 0.7vw;
}
.subsc_box_text span {
    font: normal normal normal 1vw/1.8vw Segoe UI;
    color: #2D2A24;
    margin-left: 2vw;
}

.mypage_myname {
    font: normal normal normal 2vw/2.3vw KozGoPr6N;
    letter-spacing: 0.2vw;
    color: #2D2A24;
    margin:3vw 5vw;
}
.mypage_point_div {
    width: 100%;
    padding:2.5vw 15vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font: normal normal normal 1.8vw/4vw Arial;
    color: #3169AA;
}
.mypage_point_div span {
    font: normal normal normal 2.4vw/4vw Arial;
    margin-left: 3vw;
}
.mypage_edit_a {
    border: 3px solid #3169AA;
    border-radius: 25px;
    width: 5vw;
    text-align: center;
    padding: 0.4vw 0;
    font: normal normal normal 1vw/1.5vw Arial;
    color: #3169AA;
    display: block;
    float: right;
    top: -1vw;
    position: relative;
}
.mypage_flex {
    display: flex;
    width: 36vw;
    margin: 4vw auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mypage_btn_a {
    display: block;
    width: 17vw;
    margin-bottom: 1vw;
}
.mypage_btn_a img {
    width: 100%;
}

.subsc_item_quantity {
    font: normal normal normal 1.6vw/2.3vw Arial;
    letter-spacing: 0.1vw;
    color: #2D2A24;
    margin: 4vw 2vw;
}
.subsc_item_flex {
    display: flex;
    width: 80%;
    margin: 3vw auto;
}
.subsc_item_flex2 {
    display: flex;
    width: 80%;
    margin: 3vw auto;
    justify-content: space-between;
}
.subsc_item_line {
    height: 2px;
    width: 90%;
    margin: 3vw auto;
    background-color: #000;
}
.subsc_item_a {
    border: 3px solid #3169AA;
    border-radius: 25px;
    width: 5vw;
    text-align: center;
    padding: 0.4vw 0;
    font: normal normal normal 1vw/1.5vw Arial;
    color: #3169AA;
    display: block;
    float: right;
    position: relative;
    height: 2.6vw;
}
.subsc_item_btn_w {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #2D2A24;
    border-radius: 20px;
    width: 25vw;
    padding:0.8vw 0;
    font: normal normal bold 1.2vw/1.2vw KozGoPr6N;
    color: #2D2A24;
    margin: 1vw auto;
    display: block;
    text-align: center;
}
.subsc_item_btn_b {
    background: #2D2A24 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    width: 25vw;
    padding:0.8vw 0;
    font: normal normal bold 1.2vw/1.2vw KozGoPr6N;
    color: #FFFFFF;
    margin: 1vw auto;
    display: block;
    text-align: center;
}
.skip_after_btn {
    background: #707070 0% 0% no-repeat padding-box;
    color: #FFFFFF8C!important;
}

.history_before_content, .history_after_content {
    padding: 2vw 3vw;
    background-color: #fff;
    border-left: 2px solid #242423;
    border-right: 2px solid #242423;
    border-bottom: 2px solid #242423;

}
.history_quantity {
    font: normal normal normal 1.8vw/2vw Arial;
    letter-spacing: 0.1vw;
    color: #2D2A24;
    margin-bottom: 1vw;
}
.history_states_flex {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vw;
}
.history_bar_img {
    width: 23vw;
    display: block;
}
.history_states {
    border: 1px solid #707070;
    height: 2.8vw;
    padding:0.7vw 1vw;
    font: normal normal bold 1.2vw/1.2vw KozGoPr6N;
    color: #2D2A24;
}
.history_states span {
    font: normal normal normal 0.8vw/1.2vw KozGoPr6N;
    color: #707070;
    margin-right: 1vw;
}
.history_states_red {
    color: #FF0000;
    border: 1px solid #FF0000;
    padding:0.5vw 1vw;
    font: normal normal normal 1.3vw/1.3vw KozGoPr6N;
    height: 2.8vw;
}
.history_states_red span {
    font: normal normal normal 1.1vw/1.3vw KozGoPr6N;
}
.history_flex {
    width: 100%;
    padding:0 1%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;
}
.history_flex .subsc_item_flex {
    width: 100%;
    margin: 0;
}
.history_flex .item_detail_name {
    margin-top: 0.5vw;
}
.history_flex_btn_list {
    padding-top: 6vw;
}
.history_flex_btn {
    padding: 0.5vw 0;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 3vw;
    font: normal normal bold 1vw/1.3vw KozGoPr6N;
    color: #2D2A24;
    margin-bottom: 0.5vw;
    display: block;
    width: 10vw;
}
.history_line {
    width: 100%;
    height:2px;
    background-color: #2D2A24;
    margin:3vw 0;
}
.history_review_img {
    display: block;
    width: 10vw;
    margin-bottom: 0.5vw;
}
.history_flex_review_list {
    padding-top: 2vw;
}


/* ポップアップ */
.popup_bg {
    position: fixed; /* ブラウザの定位置に固定 */
	background: rgba(0, 0, 0, .5); /* 背景色を半透明の黒色に */
	width: 100%; /* 要素の横幅を画面全体に */
	height: 100%; /* 要素の高さを画面全体に */
	top: 0; /* 要素の固定位置をブラウザ最上部に合わせる */
	left: 0; /* 要素の固定位置をブラウザ左側に合わせる */
	z-index: 5000; /* 要素をコンテンツより前面に（要調整） */
}
.sample-popup-content {
	/* ポップアップ本体 */
	display: inline-block;
	position: fixed;
	width: 35vw;
	z-index: 6000;
	background: #fff;
	padding: 2% 2% 4%;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow-y: scroll;
    font: normal normal normal 1.4vw/1.4vw KozGoPr6N;
    color: #2D2A24;
    border: 1px solid #707070;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
}
.popup_title {
    font-weight: bold;
    margin-bottom: 2vw;
}
.popup_red {
    font: normal normal normal 1vw/1.2vw KozGoPr6N;
    letter-spacing: 0px;
    color: #CC2424;
    margin-top: 0.5vw;
    margin-bottom: 3.5vw;
}
.popup_img {
    width: 7vw;
    display: block;
    margin-right: 1vw;
}
.popup_item_flex {
    display: flex;
    width: 100%;
    text-align: left;
}
.popup_detail_name {
    font: normal normal bold 1.2vw/1.2vw KozGoPr6N;
    color: #000000;
    margin-bottom: 1vw;
    margin-top: 0.3vw;
}
.popup_detail_price {
    font: normal normal normal 1.1vw/1.5vw KozGoPr6N;
    color: #000000;
}
.popup_btn_flex {
    display: flex;
    padding:0 20%;
    margin-top: 3vw;
    justify-content: space-between;
}
.popup_btn_flex a {
    color: #2D2A24;
    display: block;
}
.popup_back_btn {
    margin-top: 3vw;
    color: #2D2A24;
    display: block;
}
.skip_after_red {
    margin-bottom: 1.5vw;
    text-align: center;
}






@media screen and (max-width: 500px) {
    body {
        background: #F8F1EA 0% 0% no-repeat padding-box;
    }
    .fix_line {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 80px;
        height: 80px;
        z-index: 9000;
    }
    .header_margin {
        margin-top: 50px;
    }
    footer {
        background: #F2E1E4 0% 0% no-repeat padding-box;
        letter-spacing: 0px;
        padding: 25px 15px;
        width: 100%;
        height: 540px;
        background-size: cover;
    }
    .footer_link1 {
        font: normal normal bold 16px/29px Arial;
        color: #503C3C;
        letter-spacing: 1.5px;
        text-shadow: 0px 1px 2px #FFFFFF;
        margin-right: 0;
        margin-bottom: 10px;
        display: block;
    }
    .footer_sns_img {
        width: 30px;
    }
    .footer_sns_flex {
        width: 35vw;
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
    }
    .footer_flex_white {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer_link_white {
        display: block;
        font: normal normal normal 3vw/6vw KozGoPr6N;
    }
    .copyright {
        text-align: left;
        font: normal normal normal 3vw/6vw KozGoPr6N;
        margin-top: 30px;
    }
    .header_logo {
        margin-top: 10px;
        width: 120px;
    }
    header {
        height: 50px;
        padding-right: 55px;
    }
    .header_input {
        width: calc(100vw - 80px);
        font: normal normal normal 11px/11px Source Han Sans JP;
        border-radius: 15px;
        border: 1px solid #242423;
        background: #F8F1EA 0% 0% no-repeat padding-box;
        height: 27px;
        padding-left: 10px;
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .mypage_bar {
        width: calc(100vw - 25px);
        margin-left: 25px;
    }

    .top_subsc_btn {
        display: block;
        width: 32vw;
        margin-top: 137vw;
        margin-left: 24vw;
    }

    .top_title_sp {
        text-align: center;
        font: normal normal bold 31px/29px Arial;
        letter-spacing: 3.1px;
        color: #242423;
        margin-top: 40px;
    }
    .top_category_a {
        width: 49.7vw;
        display: block;
        margin-bottom: 0.3vw;
    }
    .view_all_btn {
        display: block;
        float: right;
        width: 65vw;
        margin-top: 20px;
    }
    .top_category_flex {
        margin: 30px 0 0;
    }
    .top_bg2 {
        padding: 15px;
        height: 580px;
    }
    .top_bg2_flex {
        display: flex;
        justify-content: space-between;
        padding-top: 90px;
        width: 100%;
    }
    .trouble_sp {
        width: 60px;
        display: block;
        height: 225px;
    }
    .top2_a {
        display: block;
        width: 100%;
        text-align: right;
        margin-top: 40px;
        font: normal normal normal 14px/20px KozGoPr6N;
        letter-spacing: 3.64px;
        color: #242423;
    }
    .top_bg3 {
        padding: 0 0 30px;
    }
    .top3_text {
        font: normal normal bold 14px/20px Kozuka Gothic Pro;
        color: #338F86;
        text-align: left;
        padding-top: 50px;
        padding-left: 15px;
        padding-bottom: 15px;
        margin: 0;
    }
    .top3_list {
        width: 100vw;
    }
    .top3_item_a {
        width: 33vw;
        font: normal normal normal 12px/20px Arial;
        padding-bottom: 10px;
    }
    .top3_item_name {
        padding: 0 10px;
        margin: 5px 0;
        color: #000000;
    }
    .detail_btn {
        margin: 20px auto 0;
        width: 170px;
        display: block;
    }
    .top_ranking_a {
        font: normal normal normal 11px/20px KozGoPr6N;
        letter-spacing: 1.1px;
    }
    .top_rank3 {
        width: 100vw;
        margin: 50px auto;
    }
    .rank_img {
        position: relative;
        top: 5px;
        left: 5px;
        width: 24px;
    }
    .ranking_item_img {
        width: 100%;
        display: block;
        margin-top: -24px;
    }
    .top_news_bg {
        height: 500px;
        padding: 30px 15px;
    }
    .top_news_title {
        text-align: left;
        font: normal normal bold 30px/30px Arial;
        letter-spacing: -0.21px;
        color: #FFFFFF;
    }
    .top_news_a {
        display: block;
        font: normal normal normal 14px/20px KozGoPr6N;
        letter-spacing: 1.4px;
        color: #FFFFFF;
        text-align: right;
        margin-top: -20px;
        margin-bottom: 50px;
    }
    .top_news_img {
        width: 100px;
        height: 100px;
    }
    .top_news_box {
        width: 100%;
        margin-bottom: 10px;
    }
    .top_news_content {
        width: 230px;
        padding-top: 5px;
        font: normal normal bold 14px/20px KozGoPr6N;
        color: #000000;
    }
    .top_news_content span {
        font: normal normal normal 14px/20px KozGoPr6N;
    }

    .page_title_sp {
        font: normal normal bold 20px/29px Kozuka Gothic Pr6N;
        letter-spacing: 2px;
        color: #242423;
        text-align: center;
        padding:30px 0;
    }
    .contact_div {
        width: 90vw;
        margin: 10px auto;
    }
    .contact_text {
        height: 40px;
        padding: 5px 15px;
    }
    .contact_textarea {
        padding: 5px 15px;
    }
    .contact_text::placeholder, .contact_textarea::placeholder {
        color: #CCCCCC;
    }
    .send_btn, .send_btn:hover {
        padding: 10px;
        width: 280px;
        font: normal normal bold 14px/26px Kozuka Gothic Pr6N;
        margin: 30px auto 0;
        border: 1px solid;
    }
    .send_btn_white {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        color: #242423;
    }
    .send_btn_login {
        font: normal normal bold 14px/14px Kozuka Gothic Pr6N;
    }
    .contact_bottom_padding {
        padding-top: 50px;
    }
    .mail_comp {
        font: normal normal normal 13px/20px Kozuka Gothic Pr6N;
        letter-spacing: 0px;
        color: #000000;
        width: 325px;
        margin: 20px auto 70px;
    }
    .form_flex {
        width: 90vw;
    }
    .contact_div_short {
        width: 43vw;
    }
    .check_flex {
        width: 83vw;
        margin: 5px auto 20px;
        display: flex;
        justify-content: space-between;
    }
    input[type=checkbox].checkbox_pink {
        width: 20px;
        height: 20px;
    }
    .check_text {
        width: 76vw;
        font: normal normal normal 12px/22px Kozuka Gothic Pr6N;
    }
    .reminder_text {
        margin-bottom: 30px;
        font: normal normal normal 13px/21px Kozuka Gothic Pr6N;
    }
    .login_div {
        width: 320px;
        margin: 5px auto 20px;
    }
    .contact_name {
        font: normal normal normal 13px/21px Kozuka Gothic Pr6N;
    }
    .reminder_link {
        font: normal normal normal 12px/26px Kozuka Gothic Pr6N;
        margin: 10px;
    }
    .item_flex {
        padding: 0 15px;
    }
    .item_detail_img {
        width: 100px;
        margin-right: 30px;
    }
    .item_detail_name {
        font: normal normal bold 13px/18px Kozuka Gothic Pr6N;
        color: #000000;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .item_detail_price {
        font: normal normal normal 14px/22px Kozuka Gothic Pr6N;
    }
    .item_detail_sum {
        width: calc(100vw - 30px);
        margin: 10px auto;
        font: normal normal normal 14px/22px Kozuka Gothic Pr6N;
        color: #000000;
        border-top: 1px solid #000;
        padding: 10px 0;
    }
    .buy_flex_text {
        display: block;
        margin: auto;
        font: normal normal normal 12px/21px Kozuka Gothic Pr6N;
    }
    .pay_div {
        width: 100%;
        margin: 0px auto;
        font: normal normal normal 16px/32px Kozuka Gothic Pr6N;
        padding: 0 15px;
    }
    .charge_span {
        margin-left: 10px;
        font: normal normal normal 14px/29px Kozuka Gothic Pr6N;
    }
    .subsc_item_quantity {
        font: normal normal normal 16px/24px Arial;
        letter-spacing: 3.14px;
        color: #2D2A24;
        margin: 0 15px;
    }
    .subsc_item_line {
        height: 1px;
        width: 90%;
        margin: 15px auto;
        background-color: #000;
    }
    .subsc_item_a {
        border: 2px solid #3169AA;
        border-radius: 25px;
        width: 55px;
        text-align: center;
        padding: 5px 0;
        font: normal normal normal 13px/18px Arial;
        color: #3169AA;
        display: block;
        float: right;
        position: relative;
        height: 30px;
    }
    .subsc_item_flex2 {
        font: normal normal normal 14px/20px Kozuka Gothic Pr6N;
    }
    .sample-popup-content {
        display: inline-block;
        position: fixed;
        width: 310px;
        z-index: 6000;
        background: #fff;
        padding: 40px 20px;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow-y: scroll;
        font: normal normal normal 16px/22px Kozuka Gothic Pr6N;
        color: #2D2A24;
        border: 1px solid #707070;
        overflow: hidden;
        border-radius: 0;
        text-align: center;
    }
    .popup_red {
        font: normal normal normal 11px/18px Kozuka Gothic Pr6N;
        letter-spacing: 0px;
        color: #CC2424;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .popup_img {
        width: 90px;
        display: block;
        margin-right: 10px;
    }
    .popup_detail_name {
        font: normal normal bold 12px/12px Kozuka Gothic Pr6N;
        color: #000000;
        margin-bottom: 20px;
        margin-top: 5px;
    }
    .popup_detail_price {
        font: normal normal normal 12px/15px Kozuka Gothic Pr6N;
    }
    .skip_after_btn {
        background: #707070 0% 0% no-repeat padding-box;
        color: #FFFFFF8C!important;
    }
    .item_detail_flex {
        padding: 4%;
    }
    .item_detail_img_list {
        width: 20vw;
    }
    .item_detail_img_div {
        width: 66vw;
    }
    .item_detail_sphere {
        margin-top: 3vw;
        margin-right: 3vw;
        width: 15vw;
        height: 15vw;
    }
    .item_detail_img_main {
        top: -18vw;
    }
    .item_detail_content {
        width: 92vw;
        margin: -15vw auto 0;
    }
    .item_detail_ex {
        padding-left: 0;
        padding-top: 0;
        font: normal normal bold 20px/20px Kozuka Gothic Pr6N;
        margin-bottom: 20px;
    }
    .item_detail_text {
        margin: 20px 0;
        font: normal normal normal 14px/20px Kozuka Gothic Pr6N;
        letter-spacing: 1.4px;
    }
    .item_detail_tag {
        font: normal normal normal 13px/17px Kozuka Gothic Pr6N;
    }
    .item_detail_fav {
        width: 22px;
        margin-right: 5px;
    }
    .item_detail_price_flex {
        padding: 15px 5px;
        font: normal normal bold 14px/30px Kozuka Gothic Pr6N;
    }
    .radio_orange {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .item_detail_price_div {
        font: normal normal bold 17px/23px Kozuka Gothic Pr6N;
        padding-left: 20px;
    }
    .item_detail_price_gray {
        font: normal normal normal 15px/23px Kozuka Gothic Pr6N;
    }
    .price_off_span {
        font: normal normal bold 16px/20px Kozuka Gothic Pr6N;
        letter-spacing: 1.6px;
        color: #FF0000;
        margin-left: 10px;
    }
    .price_detail_a {
        font: normal normal normal 13px/27px Arial;
        margin-left: 20px;
    }
    .input_number {
        width: 70px;
        text-align: center;
        padding: 0;
        border-radius: 0;
        margin-top: 10px;
        border: 1px solid #000;
        height: 40px;
        background: #F8F1EA 0% 0% no-repeat padding-box;
    }
    .select_month {
        margin-top: 7px;
        width: 70px;
        padding: 0vw 0 0vw 1vw;
        border: 1px solid #000;
        height: 40px;
        background: #F8F1EA 0% 0% no-repeat padding-box;
    }
    .tab_flex {
        width: 92vw;
        display: flex;
        justify-content: space-between;
        margin: 30px auto 0;
    }






    /* ハンバーガーメニュー */
    .hamburger-menu {
        position: fixed;
        z-index: 6000;
    }
    .menu-btn {
        position: absolute;
        top: 0vw;
        right: 0vw;
        display: flex;
        position: fixed;
        height: 50px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background: none;
        border: none;
        width: 50px;
        transition: 0.5s;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 2px;
        border-radius: 3px;
        background-color: #000;
        position: absolute;
        transition: 0.5s;
    }
    .menu-btn span {
        width: 25px;
    }
    .menu-btn span:before {
        bottom: 10px;
        width: 25px;
    }
    .menu-btn span:after {
        top: 10px;
        width: 25px;
    }
    #menu-btn-check {
        display: none;
    }

    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        width: 25px;
        bottom: 0;
        transform: rotate(45deg);
        background-color: #000;
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
        background-color: #000;
    }
    .menu-content, .menu-content_work {
        top: 0px;
        width: 100%;
        position: fixed;
        height: 100%;
        z-index: 80;
        background-color: rgba(248, 241, 234, 0.9);
        transition: all 0.2s;
        display: none;
        opacity: 0;
        padding-top: 10px;
    }
    .header_flex {
        padding:20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .header_a {
        font: normal normal bold 15px/20px Arial;
        letter-spacing: -0.18px;
        color: #000000;
        display: block;
        position: relative;
        transition: 0.2s;
        margin-bottom: 20px;
        text-decoration: none;
        padding-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid;
        margin-left: 30px;
    }
    .header_column {
        width: 47%;
    }
    .menu_btn_flex {
        display: flex;
        margin: 25px 50px 20px auto;
        width: 150px;
        justify-content: space-between;
    }
    .header_link {
        display: block;
        font: normal normal normal 3vw/6vw KozGoPr6N;
        color: #000;
    }
    .header_flex_sp {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding:0 15px;
    }
    .header_logo_sp {
        width: 90px;
    }
    .copyright_header {
        font: normal normal normal 10px/20px KozGoPr6N;
        letter-spacing: 0px;
        color: #242423;
        text-align: center;
    }
    
    /* SP版 category */

    .category_top {
        width: 100%;
        padding: 6.3vw 3.5vw;
    }

    .category_top h2 {
        font: normal normal bold 7.24vw/6.77vw Arial;
        letter-spacing: 0.72vw;
        text-align: center;
    }

    .category_top select {
        display: block;
        margin-left: auto;
        text-align: right;
        background-color: transparent;
        border: none;
        outline: none;
        font: normal normal normal 3.27vw/7.24vw KozGoPr6N;
        color: #3169AA;
    }

    .category_item_a {
        width: 33vw;
        padding-bottom: 0;
    }

    .category_flex {
        margin-bottom: 1vw;
    }

    .top3_item_name {
        font: normal normal normal 2.8vw/4.6vw Arial;
    }

    /* SP版trouble */

    .trouble_div {
        padding: 0;
        background: transparent linear-gradient(180deg, #F8F1EA 0%, #5B21218C 180%) 0% 0% no-repeat padding-box;
    }

    .trouble_title {
        margin: 0;
        padding: 8.57vw 0;
    }

    .trouble_title h2,h3 {
        width: 100%;
        text-align: center;
    }

    .trouble_title h2 {
        font: normal normal bold 7.24vw/6.77vw Arial;
        letter-spacing: 0.72vw;
        color: #000;
        margin-bottom: 0.93vw;
    }

    .trouble_title h3 {
        font: normal normal normal 3.27vw/4.24vw KozGoPr6N;
        letter-spacing: 0;
    }

    .trouble_wrapper {
        width: 100%;
    }

    .trouble_main_img {
        width: 100%;
    }

    .trouble_list {
        width: 100%;
        padding: 0 10.39vw;
    }

    .trouble_list a {
        font: normal normal normal 4.2vw KozGoPr6N;
        letter-spacing: 1.09vw;
        text-align: center;
        border-bottom: 1px solid #503C3C;
        margin-top: 8.57vw;
        padding-bottom: 0.67vw;
    }

    .consultation {
        margin: 28vw 0 5vw;
        border-bottom: 17px solid #F8F1EA;
    }

    .consultation h2 {
        font: normal normal normal 3.97vw/7vw KozGoPr6N;
        text-align: center;
        letter-spacing: 6.95px;
        color: #3169AA;
        opacity: 1;
        margin-bottom: -2.8vw;
    }

    .trouble_text {
        padding: 5vw 14vw;
        font: normal normal normal 3.25vw KozMinPr6N;
        letter-spacing: 0.18vw;
        color: #242423;
    }

    .trouble_text p:last-child {
        margin-bottom: 0;
    }

    .trouble_text span {
        font-size: 3.73vw;
    }

    .trouble_text span.underline {
        font-size: 4.67vw;
        background-image: url("../img/underline.png");
        background-size: 100% 40%;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

      .trouble_link {
        width: 100%;
        padding: 9vw 0 17vw;
    }

    .trouble_link img {
        display: block;
        margin: 0 auto;
    }

    .trouble_link_logo {
        width: 45vw;
    }

    .trouble_link_line {
        width: 19vw;
    }

    .trouble_link h3 {
        font: normal normal normal 3.5vw/3.97vw Arial;
        color: #fff;
        margin: 2.21vw 0 8.17vw;
    }

    /* SP版trouble_detail */

    .trouble_detail_div {
        padding: 0;
        background: transparent linear-gradient(180deg, #F8F1EA 0%, #5B21218C 180%) 0% 0% no-repeat padding-box;
    }

    .trouble_detail_bread {
        width: 90%;
        margin: 0 auto;
        padding: 4vw 0;
    }

    .trouble_detail_bread h4 {
        font: normal normal bold 3.73vw/3.5vw Arial;
        letter-spacing: 0.37vw;
        color: #242423;
        margin-bottom: 0;
    }

    .trouble_detail_bread p {
        font: normal normal normal 2.33vw/5.14vw KozGoPr6N;
        letter-spacing: 0px;
        color: #3169AA;
        margin-bottom: 0;
    }

    .trouble_detail_title {
        width: 90%;
        margin: 0 auto;
    }

    .trouble_detail_title h2 {
        text-align: center;
        font: normal normal normal 3.03vw KozGoPr6N;
        color: #F5F8FC;
        letter-spacing: 0.75vw;
        background: #3169AA 0% 0% no-repeat padding-box;
        border-radius: 23px;
        display: block;
        margin: auto;
        padding: 1vw 0;
    }

    .trouble_detail_text {
        font: normal normal normal 3.01vw KozGoPr6N;
        margin: 6.24vw auto;
    }

    .trouble_detail_card {
        width: 90%;
        margin: 0 auto 3.17vw;
        padding: 6.5vw 10vw;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
    }

    .trouble_detail_card h3 {
        font: normal normal normal 3.05vw/5.6vw KozGoPr6N;
        letter-spacing: 0.45vw;
        color: #FF8BAF;
        text-align: left;
    }

    .trouble_detail_img {
        width: 70%;
        margin: 4.5vw auto;
    }

    .trouble_detail_item {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #000;
    }

    .trouble_detail_item p {
        font-size: 4.67vw;
        margin: 0;
    }

    .trouble_detail_item p.itemname_bottom {
        font-size: 3.27vw;
    }

    .trouble_item_text {
        font: normal normal normal 3.03vw/4.43vw KozGoPr6N;
        margin: 5.84vw 0 0 0;
        padding: 0 1vw;
    }

    .trouble_item_text p {
        margin: 0;
    }

    .trouble_detail_link {
        width: 90%;
        margin: 18.8vw auto 0;
    }

    .trouble_detail_link h3 {
        font-size: 3.5vw;
        color: #3169AA;
        text-align: left;
        text-decoration: underline;
    }

    .trouble_detail_link a {
        font-size: 3.03vw;
        margin-right: 5.37vw;
    }
}


.g-recaptcha {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.grecaptcha-badge { visibility: hidden; }